openapi: 3.2.0
info:
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  description: 'The MX Platform API is a powerful, fully-featured API designed to make

    aggregating and enhancing financial data easy and reliable. It can

    seamlessly connect your app or website to tens of thousands of financial

    institutions.'
  title: MX Platform Merchant Location Guid API
  version: 0.1.0
servers:
- url: https://api.mx.com
- url: https://int-api.mx.com
security:
- basicAuth: []
tags:
- name: Merchant_location_guid
paths:
  /merchant_locations/{merchant_location_guid}:
    get:
      description: This endpoint returns the specified merchant_location resource.
      operationId: readMerchantLocation
      parameters:
      - description: The unique id for a `merchant_location`.
        example: MCH-09466f0a-fb58-9d1a-bae2-2af0afbea621
        in: path
        name: merchant_location_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MerchantLocationResponseBody'
          description: OK
      summary: Read merchant location
      tags:
      - Merchant_location_guid
components:
  schemas:
    MerchantLocationResponseBody:
      properties:
        merchant_location:
          $ref: '#/components/schemas/MerchantLocationResponse'
      type: object
    MerchantLocationResponse:
      properties:
        city:
          example: Greenwood Village
          type:
          - string
          - 'null'
        country:
          example: US
          type:
          - string
          - 'null'
        created_at:
          example: '2020-04-13T21:05:09.000Z'
          type:
          - string
          - 'null'
        guid:
          example: MCL-00024e59-18b5-4d79-b879-2a7896726fea
          type:
          - string
          - 'null'
        latitude:
          example: 39.5963005
          type:
          - number
          - 'null'
        longitude:
          example: -104.89158799999998
          type:
          - number
          - 'null'
        merchant_guid:
          example: MCH-09466f0a-fb58-9d1a-bae2-2af0afbea621
          type:
          - string
          - 'null'
        phone_number:
          example: (303) 689-0728
          type:
          - string
          - 'null'
        postal_code:
          example: '801121436'
          type:
          - string
          - 'null'
        state:
          example: CO
          type:
          - string
          - 'null'
        street_address:
          example: 8547 E Arapahoe Rd, Ste 1
          type:
          - string
          - 'null'
        updated_at:
          example: '2020-04-13T21:05:09.000Z'
          type:
          - string
          - 'null'
      type: object
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http
