openapi: 3.0.0
info:
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  description: '

    The MX Platform API is a powerful, fully-featured API designed to make

    aggregating and enhancing financial data easy and reliable. It can

    seamlessly connect your app or website to tens of thousands of financial

    institutions.'
  title: MX Platform Accounts API
  version: 0.1.0
servers:
- url: https://api.mx.com
- url: https://int-api.mx.com
security:
- basicAuth: []
tags:
- name: Accounts
paths:
  /users/{user_guid}/accounts:
    get:
      description: This endpoint returns a list of all the accounts associated with the specified `user`.
      operationId: listUserAccounts
      parameters:
      - description: List only accounts whose member is managed by the user.
        example: true
        in: query
        name: member_is_managed_by_user
        schema:
          type: boolean
      - description: Specify current page.
        example: 1
        in: query
        name: page
        schema:
          type: integer
      - description: List only accounts that were manually created.
        example: true
        in: query
        name: is_manual
        schema:
          type: boolean
      - description: Specify records per page.
        example: 10
        in: query
        name: records_per_page
        schema:
          type: integer
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountsResponseBody'
          description: OK
      summary: List accounts
      tags:
      - Accounts
    post:
      description: This endpoint can only be used to create manual accounts. Creating a manual account will automatically create it under the Manual Institution member. Since a manual account has no credentials tied to the member, the account will never aggregate or include data from a data feed.
      operationId: createManualAccount
      parameters:
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateRequestBody'
        description: Manual account object to be created.
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Create manual account
      tags:
      - Accounts
  /users/{user_guid}/accounts/{account_guid}:
    delete:
      description: This endpoint deletes accounts that were manually created. The API will respond with an empty object and a status of `204 No Content`.
      operationId: deleteManualAccount
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content.
      summary: Delete manual account
      tags:
      - Accounts
    get:
      description: This endpoint returns the specified `account` resource.
      operationId: readAccount
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Read account
      tags:
      - Accounts
  /users/{user_guid}/accounts/{account_guid}/account_numbers:
    get:
      description: This endpoint returns a list of account numbers associated with the specified `account`.
      operationId: listAccountNumbersByAccount
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: Specify current page.
        example: 1
        in: query
        name: page
        schema:
          type: integer
      - description: Specify records per page.
        example: 10
        in: query
        name: records_per_page
        schema:
          type: integer
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountNumbersResponseBody'
          description: OK
      summary: List account numbers by account
      tags:
      - Accounts
  /users/{user_guid}/accounts/{account_guid}/holdings:
    get:
      description: This endpoint returns all holdings associated with the specified `account`.
      operationId: listHoldingsByAccount
      parameters:
      - description: The unique id for the `account`.
        example: ACT-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: Filter holdings from this date.
        example: '2015-09-20'
        in: query
        name: from_date
        schema:
          type: string
      - description: Specify current page.
        example: 1
        in: query
        name: page
        schema:
          type: integer
      - description: Specify records per page.
        example: 10
        in: query
        name: records_per_page
        schema:
          type: integer
      - description: Filter holdings to this date.
        example: '2019-10-20'
        in: query
        name: to_date
        schema:
          type: string
      - description: The unique id for the `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/HoldingsResponseBody'
          description: OK
      summary: List holdings by account
      tags:
      - Accounts
  /users/{user_guid}/accounts/{account_guid}/insights:
    get:
      description: Use this endpoint to list all insights associated with a specified account GUID.
      operationId: listInsightsByAccount
      parameters:
      - description: The unique id for the `account`.
        example: ACT-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: Specify current page.
        example: 1
        in: query
        name: page
        schema:
          type: integer
      - description: Specify records per page.
        example: 10
        in: query
        name: records_per_page
        schema:
          type: integer
      - description: The unique id for the `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InsightsResponseBody'
          description: OK
      summary: List insights by account
      tags:
      - Accounts
  /users/{user_guid}/accounts/{account_guid}/transactions:
    post:
      tags:
      - Accounts
      summary: Create manual transaction
      description: This endpoint can only be used to create manual transactions that are under a manual account. This endpoint accepts the optional MX-Skip-Webhook header and skip_webhook parameter.
      parameters:
      - name: user_guid
        description: The unique identifier for the user.
        in: path
        required: true
        schema:
          type: string
      - name: account_guid
        description: The unique identifier for the account.
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionCreateRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionCreateResponseBody'
    get:
      description: This endpoint returns a list of the last 90 days of transactions associated with the specified account.
      operationId: listTransactionsByAccount
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: Filter transactions from this date.
        example: '2015-09-20'
        in: query
        name: from_date
        schema:
          type: string
      - description: Specify current page.
        example: 1
        in: query
        name: page
        schema:
          type: integer
      - description: Specify records per page.
        example: 10
        in: query
        name: records_per_page
        schema:
          type: integer
      - description: Filter transactions to this date.
        example: '2019-10-20'
        in: query
        name: to_date
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionsResponseBody'
          description: OK
      summary: List transactions by account
      tags:
      - Accounts
  /users/{user_guid}/insights/{insight_guid}/accounts:
    get:
      description: Use this endpoint to list all the accounts associated with the insight.
      operationId: listAccountsInsight
      parameters:
      - description: The unique identifier for the user. Defined by MX.
        example: USR-1234-abcd
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      - description: The unique identifier for the insight. Defined by MX.
        example: BET-1234-abcd
        in: path
        name: insight_guid
        required: true
        schema:
          type: string
      - description: Specify current page.
        example: 1
        in: query
        name: page
        schema:
          type: integer
      - description: Specify records per page.
        example: 10
        in: query
        name: records_per_page
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountsResponseBody'
          description: OK
      summary: List all accounts associated with an insight.
      tags:
      - Accounts
  /users/{user_guid}/managed_members/{member_guid}/accounts:
    get:
      description: Use this endpoint to retrieve a list of all the partner-managed accounts associated with the given partner-manage member.
      operationId: listManagedAccounts
      parameters:
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: Specify current page.
        example: 1
        in: query
        name: page
        schema:
          type: integer
      - description: Specify records per page.
        example: 10
        in: query
        name: records_per_page
        schema:
          type: integer
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountsResponseBody'
          description: OK
      summary: List managed accounts
      tags:
      - Accounts
    post:
      description: Use this endpoint to create a partner-managed account.
      operationId: createManagedAccount
      parameters:
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedAccountCreateRequestBody'
        description: Managed account to be created.
        required: true
      responses:
        '202':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Create managed account
      tags:
      - Accounts
  /users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}:
    delete:
      description: Use this endpoint to delete a partner-managed account according to its unique GUID. If successful, the API will respond with a status of `204 No Content`.
      operationId: deleteManagedAccount
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      summary: Delete managed account
      tags:
      - Accounts
    get:
      description: Use this endpoint to read the attributes of a partner-managed account according to its unique guid.
      operationId: readManagedAccount
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Read managed account
      tags:
      - Accounts
    put:
      description: Use this endpoint to update the attributes of a partner-managed account according to its unique GUID.
      operationId: updateManagedAccount
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedAccountUpdateRequestBody'
        description: Managed account object to be updated (While no single parameter is required, the request body can't be empty)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Update managed account
      tags:
      - Accounts
  /users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}/transactions:
    get:
      description: This endpoint returns a list of all the partner-managed transactions associated with the specified `account`, scoped through a `user` and a `member`.
      operationId: listManagedTransactions
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: Specify current page.
        example: 1
        in: query
        name: page
        schema:
          type: integer
      - description: Specify records per page.
        example: 10
        in: query
        name: records_per_page
        schema:
          type: integer
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionsResponseBody'
          description: OK
      summary: List managed transactions
      tags:
      - Accounts
    post:
      description: Use this endpoint to create a new partner-managed `transaction`.
      operationId: createManagedTransaction
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedTransactionCreateRequestBody'
        description: Managed transaction to be created.
        required: true
      responses:
        '202':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionResponseBody'
          description: OK
      summary: Create managed transaction
      tags:
      - Accounts
  /users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}/transactions/{transaction_guid}:
    delete:
      description: Use this endpoint to delete the specified partner-managed `transaction`. The endpoint will respond with a status of `204 No Content` without a resource.
      operationId: deleteManagedTransaction
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `transaction`.
        example: TRN-810828b0-5210-4878-9bd3-f4ce514f90c4
        in: path
        name: transaction_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      summary: Delete managed transaction
      tags:
      - Accounts
    get:
      description: Requests to this endpoint will return the attributes of the specified partner-managed `transaction`.
      operationId: readManagedTransaction
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `transaction`.
        example: TRN-810828b0-5210-4878-9bd3-f4ce514f90c4
        in: path
        name: transaction_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionResponseBody'
          description: OK
      summary: Read managed transaction
      tags:
      - Accounts
    put:
      description: Use this endpoint to update the attributes of the specified partner_managed `transaction`.
      operationId: updateManagedTransaction
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `transaction`.
        example: TRN-810828b0-5210-4878-9bd3-f4ce514f90c4
        in: path
        name: transaction_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedTransactionUpdateRequestBody'
        description: Managed transaction object to be updated (While no single parameter is required, the request body can't be empty)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionResponseBody'
          description: OK
      summary: Update managed transaction
      tags:
      - Accounts
  /users/{user_guid}/members/{member_guid}/accounts:
    get:
      description: This endpoint returns a list of all the accounts associated with the specified `member`.
      operationId: listMemberAccounts
      parameters:
      - description: List only accounts whose member is managed by the user.
        example: true
        in: query
        name: member_is_managed_by_user
        schema:
          type: boolean
      - description: Specify current page.
        example: 1
        in: query
        name: page
        schema:
          type: integer
      - description: Specify records per page.
        example: 10
        in: query
        name: records_per_page
        schema:
          type: integer
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountsResponseBody'
          description: OK
      summary: List accounts by member
      tags:
      - Accounts
  /users/{user_guid}/members/{member_guid}/accounts/{account_guid}:
    get:
      description: This endpoint allows you to read the attributes of an `account` resource.
      operationId: readAccountByMember
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Read account by member
      tags:
      - Accounts
    put:
      description: This endpoint allows you to update certain attributes of an `account` resource, including manual accounts. For manual accounts, you can update every field listed. For aggregated accounts, you can only update `is_business`, `is_hidden` and `metadata`.
      operationId: updateAccountByMember
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateRequestBody'
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Update account by member
      tags:
      - Accounts
components:
  schemas:
    ManagedAccountUpdateRequestBody:
      properties:
        account:
          $ref: '#/components/schemas/ManagedAccountUpdateRequest'
      type: object
    PaginationResponse:
      properties:
        current_page:
          example: 1
          type: integer
        per_page:
          example: 25
          type: integer
        total_entries:
          example: 1
          type: integer
        total_pages:
          example: 1
          type: integer
      type: object
    AccountsResponseBody:
      properties:
        accounts:
          items:
            $ref: '#/components/schemas/AccountResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    AccountNumberResponse:
      properties:
        account_guid:
          example: ACT-06d7f45b-caae-0f6e-1384-01f52e75dcb1
          nullable: true
          type: string
        account_number:
          example: 10001
          nullable: true
          type: string
        guid:
          example: ACN-8899832e-e5b4-42cd-aa25-bbf1dc889a8f
          nullable: true
          type: string
        loan_guarantor:
          example: U.S. DEPARTMENT OF EDUCATION
          nullable: true
          type: string
        loan_reference_number:
          example: 123456789012345
          nullable: true
          type: string
        institution_number:
          example: 123
          nullable: true
          type: string
        member_guid:
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          nullable: true
          type: string
        passed_validation:
          example: true
          nullable: true
          type: boolean
        routing_number:
          example: 68899990000000
          nullable: true
          type: string
        sequence_number:
          example: 1-01
          nullable: true
          type: string
        transit_number:
          example: 12345
          nullable: true
          type: string
        user_guid:
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          nullable: true
          type: string
      type: object
    ManagedAccountUpdateRequest:
      properties:
        account_number:
          example: '5366'
          type: string
        apr:
          example: 1
          type: number
        apy:
          example: 1
          type: number
        available_balance:
          example: 1000
          type: number
        available_credit:
          example: 1000
          type: number
        balance:
          example: 1000
          type: number
        cash_surrender_value:
          example: 1000
          type: number
        credit_limit:
          example: 100
          type: number
        currency_code:
          example: USD
          type: string
        day_payment_is_due:
          example: 20
          type: integer
        death_benefit:
          example: 1000
          type: integer
        id:
          example: '1040434698'
          type: string
        interest_rate:
          example: 1
          type: number
        is_closed:
          example: false
          type: boolean
        is_hidden:
          example: false
          type: boolean
        last_payment:
          example: 100
          type: number
        last_payment_at:
          example: '2015-10-13T17:57:37.000Z'
          type: string
        loan_amount:
          example: 1000
          type: number
        matures_on:
          example: '2015-10-13T17:57:37.000Z'
          type: string
        metadata:
          example: some metadata
          type: string
        minimum_balance:
          example: 100
          type: number
        minimum_payment:
          example: 10
          type: number
        name:
          example: Test account 2
          type: string
        nickname:
          example: Swiss Account
          type: string
        original_balance:
          example: 10
          type: number
        payment_due_at:
          example: '2015-10-13T17:57:37.000Z'
          type: string
        payoff_balance:
          example: 10
          type: number
        routing_number:
          example: '68899990000000'
          type: string
        started_on:
          example: '2015-10-13T17:57:37.000Z'
          type: string
        subtype:
          example: NONE
          type: string
        type:
          example: SAVINGS
          type: string
      type: object
    AccountCreateRequest:
      properties:
        account_subtype:
          example: PERSONAL
          type: string
        account_type:
          example: SAVINGS
          type: string
        apr:
          example: 1
          type: number
        apy:
          example: 1
          type: number
        available_balance:
          example: 1000
          type: number
        balance:
          example: 1000
          type: number
        cash_surrender_value:
          example: 1000
          type: number
        credit_limit:
          example: 100
          type: number
        currency_code:
          example: USD
          type: string
        death_benefit:
          example: 1000
          type: integer
        interest_rate:
          example: 1
          type: number
        is_business:
          example: false
          type: boolean
        is_closed:
          example: false
          type: boolean
        is_hidden:
          example: false
          type: boolean
        loan_amount:
          example: 1000
          type: number
        metadata:
          example: some metadata
          type: string
        name:
          example: Test account 2
          type: string
        nickname:
          example: Swiss Account
          type: string
        original_balance:
          example: 10
          type: number
        property_type:
          example: VEHICLE
          type: string
        skip_webhook:
          example: true
          type: boolean
      required:
      - name
      - account_type
      type: object
    AccountUpdateRequestBody:
      properties:
        account:
          $ref: '#/components/schemas/AccountUpdateRequest'
      type: object
    AccountResponse:
      properties:
        account_number:
          example: '5366'
          nullable: true
          type: string
        account_ownership:
          example: INDIVIDUAL
          nullable: true
          type: string
        annuity_policy_to_date:
          example: '2016-10-13T17:57:37.000Z'
          nullable: true
          type: string
        annuity_provider:
          example: Metlife
          nullable: true
          type: string
        annuity_term_year:
          example: 2048
          nullable: true
          type: number
        apr:
          example: 1
          nullable: true
          type: number
        apy:
          example: 1
          nullable: true
          type: number
        available_balance:
          example: 1000
          nullable: true
          type: number
        available_credit:
          example: 1000
          nullable: true
          type: number
        balance:
          example: 10000
          nullable: true
          type: number
        cash_balance:
          example: 1000
          nullable: true
          type: number
        cash_surrender_value:
          example: 1000
          nullable: true
          type: number
        created_at:
          example: '2023-07-25T17:14:46Z'
          nullable: false
          type: string
        credit_limit:
          example: 100
          nullable: true
          type: number
        currency_code:
          example: USD
          nullable: true
          type: string
        day_payment_is_due:
          example: 20
          nullable: true
          type: integer
        death_benefit:
          example: 1000
          nullable: true
          type: integer
        federal_insurance_status:
          example: INSURED
          nullable: true
          type: string
        guid:
          example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
          nullable: true
          type: string
        holdings_value:
          example: 1000
          nullable: true
          type: number
        id:
          example: '1040434698'
          nullable: true
          type: string
        imported_at:
          example: '2015-10-13T17:57:37.000Z'
          nullable: true
          type: string
        institution_code:
          example: 3af3685e-05d9-7060-359f-008d0755e993
          nullable: true
          type: string
        insured_name:
          example: Tommy Shelby
          nullable: true
          type: string
        interest_rate:
          example: 1
          nullable: true
          type: number
        is_closed:
          example: false
          nullable: true
          type: boolean
        is_hidden:
          example: false
          nullable: true
          type: boolean
        is_manual:
          example: false
          nullable: true
          type: boolean
        last_payment:
          example: 100
          nullable: true
          type: number
        last_payment_at:
          example: '2023-07-25T17:14:46Z'
          nullable: true
          type: string
        loan_amount:
          example: 1000
          nullable: true
          type: number
        margin_balance:
          example: 1000
          nullable: true
          type: number
        matures_on:
          example: '2015-10-13T17:57:37.000Z'
          nullable: true
          type: string
        member_guid:
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          nullable: true
          type: string
        member_id:
          example: member123
          nullable: true
          type: string
        member_is_managed_by_user:
          example: false
          nullable: true
          type: boolean
        metadata:
          example: some metadata
          nullable: true
          type: string
        minimum_balance:
          example: 100
          nullable: true
          type: number
        minimum_payment:
          example: 10
          nullable: true
          type: number
        name:
          example: Test account 2
          nullable: true
          type: string
        nickname:
          example: My Checking
          nullable: true
          type: string
        original_balance:
          example: 10
          nullable: true
          type: number
        pay_out_amount:
          example: 10
          nullable: true
          type: number
        payment_due_at:
          example: '2015-10-13T17:57:37.000Z'
          nullable: true
          type: string
        payoff_balance:
          example: 10
          nullable: true
          type: number
        premium_amount:
          example: 1
          nullable: true
          type: number
        property_type:
          example: VEHICLE
          nullable: true
          type: string
        routing_number:
          example: '68899990000000'
          nullable: true
          type: string
        started_on:
          example: '2015-10-13T17:57:37.000Z'
          nullable: true
          type: string
        statement_balance:
          example: 100.1
          nullable: true
          type: number
        subtype:
          example: NONE
          nullable: true
          type: string
        today_ugl_amount:
          example: 1000.5
          nullable: true
          type: number
        today_ugl_percentage:
          example: 6.9
          nullable: true
          type: number
        total_account_value:
          example: 1
          nullable: true
          type: number
        total_account_value_ugl:
          example: 1.1
          nullable: true
          type: number
        type:
          example: SAVINGS
          nullable: true
          type: string
        updated_at:
          example: '2016-10-13T18:08:00.000Z'
          nullable: true
          type: string
        user_guid:
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          nullable: true
          type: string
        user_id:
          example: user123
          nullable: true
          type: string
      type: object
    ManagedTransactionUpdateRequest:
      properties:
        amount:
          example: '61.11'
          type: string
        category:
          example: Groceries
          type: string
        check_number_string:
          example: '6812'
          type: string
        currency_code:
          example: USD
          type: string
        description:
          example: Whole foods
          type: string
        id:
          example: transaction-265abee9-889b-af6a-c69b-25157db2bdd9
          type: string
        is_international:
          example: false
          type: boolean
        latitude:
          example: -43.2075
          type: number
        localized_description:
          example: This is a localized_description
          type: string
        localized_memo:
          example: This is a localized_memo
          type: string
        longitude:
          example: 139.691706
          type: number
        memo:
          example: This is a memo
          type: string
        merchant_category_code:
          example: 5411
          type: integer
        merchant_guid:
          example: MCH-7ed79542-884d-2b1b-dd74-501c5cc9d25b
          type: string
        merchant_location_guid:
          example: MCL-00024e59-18b5-4d79-b879-2a7896726fea
          type: string
        metadata:
          example: some metadata
          type: string
        posted_at:
          example: '2016-10-07T06:00:00.000Z'
          type: string
        status:
          example: POSTED
          type: string
        transacted_at:
          example: '2016-10-06T13:00:00.000Z'
          type: string
        type:
          example: DEBIT
          type: string
      type: object
    ManagedAccountCreateRequestBody:
      properties:
        account:
          $ref: '#/components/schemas/ManagedAccountCreateRequest'
      type: object
    ManagedAccountCreateRequest:
      properties:
        account_number:
          example: '5366'
          type: string
        apr:
          example: 1
          type: number
        apy:
          example: 1
          type: number
        available_balance:
          example: 1000
          type: number
        available_credit:
          example: 1000
          type: number
        balance:
          example: 1000
          type: number
        cash_surrender_value:
          example: 1000
          type: number
        credit_limit:
          example: 100
          type: number
        currency_code:
          example: USD
          type: string
        day_payment_is_due:
          example: 20
          type: integer
        death_benefit:
          example: 1000
          type: integer
        id:
          example: '1040434698'
          type: string
        interest_rate:
          example: 1
          type: number
        is_closed:
          example: false
          type: boolean
        is_hidden:
          example: false
          type: boolean
        last_payment:
          example: 100
          type: number
        last_payment_at:
          example: '2015-10-13T17:57:37.000Z'
          type: string
        loan_amount:
          example: 1000
          type: number
        matures_on:
          example: '2015-10-13T17:57:37.000Z'
          type: string
        metadata:
          example: some metadata
          type: string
        minimum_balance:
          example: 100
          type: number
        minimum_payment:
          example: 10
          type: number
        name:
          example: Test account 2
          type: string
        nickname:
          example: Swiss Account
          type: string
        original_balance:
          example: 10
          type: number
        payment_due_at:
          example: '2015-10-13T17:57:37.000Z'
          type: string
        payoff_balance:
          example: 10
          type: number
        routing_number:
          example: '68899990000000'
          type: string
        started_on:
          example: '2015-10-13T17:57:37.000Z'
          type: string
        subtype:
          example: NONE
          type: string
        type:
          example: SAVINGS
          type: string
      required:
      - balance
      - name
      - type
      type: object
    HoldingResponse:
      properties:
        account_guid:
          example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
          nullable: true
          type: string
        cost_basis:
          example: 827
          nullable: true
          type: number
        created_at:
          example: '2015-04-13T18:01:23.000Z'
          nullable: true
          type: string
        currency_code:
          example: USD
          nullable: true
          type: string
        cusip:
          example: 18383M878
          nullable: true
          type: string
        daily_change:
          example: 2.5
          nullable: true
          type: number
        description:
          example: Guggenheim Defensive Equity ETF
          nullable: true
          type: string
        guid:
          example: HOL-d65683e8-9eab-26bb-bcfd-ced159c9abe2
          nullable: true
          type: string
        holding_type:
          example: MONEY_MARKET
          nullable: true
          type: string
        holding_type_id:
          example: 1
          nullable: true
          type: integer
        id:
          example: ID-123
          nullable: true
          type: string
        market_value:
          example: 989.5
          nullable: true
          type: number
        member_guid:
          example: MBR-d65683e8-9eab-26bb-bcfd-ced159c9abe
          nullable: true
          type: string
        metadata:
          example: metadata
          nullable: true
          type: string
        purchase_price:
          example: 26.3
          nullable: true
          type: number
        shares:
          example: 6
          nullable: true
          type: number
        symbol:
          example: DEF
          nullable: true
          type: string
        updated_at:
          example: '2015-04-13T18:01:23.000Z'
          nullable: true
          type: string
        user_guid:
          example: USR-743e5d7f-1116-28fa-5de1-d3ba02e41d8d
          nullable: true
          type: string
      type: object
    TransactionResponse:
      properties:
        account_guid:
          example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
          nullable: true
          type: string
        account_id:
          example: account123
          nullable: true
          type: string
        amount:
          example: 61.11
          nullable: true
          type: number
        category:
          example: Groceries
          nullable: true
          type: string
        category_guid:
          example: CAT-9588eaad-90a4-bb5c-66c8-1812503d0db8
          nullable: true
          type: string
        check_number_string:
          example: '6812'
          nullable: true
          type: string
        created_at:
          example: '2016-10-06T09:43:42.000Z'
          nullable: true
          type: string
        currency_code:
          example: USD
          nullable: true
          type: string
        date:
          example: '2013-09-23T00:00:00.000Z'
          nullable: true
          type: string
        description:
          example: Whole foods
          nullable: true
          type: string
        extended_transaction_type:
          example: partner_transaction_type
          nullable: true
          type: string
        guid:
          example: TRN-265abee9-889b-af6a-c69b-25157db2bdd9
          nullable: true
          type: string
        id:
          example: transaction-265abee9-889b-af6a-c69b-25157db2bdd9
          nullable: true
          type: string
        is_bill_pay:
          example: false
          nullable: true
          type: boolean
        is_direct_deposit:
          example: false
          nullable: true
          type: boolean
        is_expense:
          example: true
          nullable: true
          type: boolean
        is_fee:
          example: false
          nullable: true
          type: boolean
        is_income:
          example: false
          nullable: true
          type: boolean
        is_international:
          example: false
          nullable: true
          type: boolean
        is_overdraft_fee:
          example: false
          nullable: true
          type: boolean
        is_payroll_advance:
          example: false
          nullable: true
          type: boolean
        is_recurring:
          example: false
          nullable: true
          type: boolean
        is_subscription:
          example: false
          nullable: true
          type: boolean
        latitude:
          example: -43.2075
          nullable: true
          type: number
        localized_description:
          example: This is a localized_description
          nullable: true
          type: string
        localized_memo:
          example: This is a localized_memo
          nullable: true
          type: string
        longitude:
          example: 139.691706
          nullable: true
          type: number
        member_guid:
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          nullable: true
          type: string
        member_is_managed_by_user:
          example: false
          nullable: true
          type: boolean
        memo:
          example: This is a memo
          nullable: true
          type: string
        merchant_category_code:
          example: 5411
          nullable: true
          type: integer
        merchant_guid:
          example: MCH-7ed79542-884d-2b1b-dd74-501c5cc9d25b
          nullable: true
          type: string
        merchant_location_guid:
          example: MCL-00024e59-18b5-4d79-b879-2a7896726fea
          nullable: true
          type: string
        metadata:
          example: some metadata
          nullable: true
          type: string
        original_description:
          example: WHOLEFDS TSQ 102
          nullable: true
          type: string
        posted_at:
          example: '2016-10-07T06:00:00.000Z'
          nullable: true
          type: string
        status:
          example: POSTED
          nullable: true
          type: string
        top_level_category:
          example: Food & Dining
          nullable: true
          type: string
        transacted_at:
          example: '2016-10-06T13:00:00.000Z'
          nullable: true
          type: string
        type:
          example: DEBIT
          nullable: true
          type: string
        updated_at:
          example: '2016-10-07T05:49:12.000Z'
          nullable: true
          type: string
        user_guid:
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          nullable: true
          type: string
        user_id:
          example: user123
          nullable: true
          type: string
      type: object
    ManagedTransactionUpdateRequestBody:
      properties:
        transaction:
          $ref: '#/components/schemas/ManagedTransactionUpdateRequest'
      type: object
    AccountCreateRequestBody:
      properties:
        account:
          $ref: '#/components/schemas/AccountCreateRequest'
      type: object
    ManagedTransactionCreateRequest:
      properties:
        amount:
          example: '61.11'
          type: string
        category:
          example: Groceries
          type: string
        check_number_string:
          example: '6812'
          type: string
        currency_code:
          example: USD
          type: string
        description:
          example: Whole foods
          type: string
        id:
          example: transaction-265abee9-889b-af6a-c69b-25157db2bdd9
          type: string
        is_international:
          example: false
          type: boolean
        latitude:
          example: -43.2075
          type: number
        localized_description:
          example: This is a localized_description
          type: string
        localized_memo:
          example: This is a localized_memo
          type: string
        longitude:
          example: 139.691706
          type: number
        memo:
          example: This is a memo
          type: string
        merchant_category_code:
          example: 5411
          type: integer
        merchant_guid:
          example: MCH-7ed79542-884d-2b1b-dd74-501c5cc9d25b
          type: string
        merchant_location_guid:
          example: MCL-00024e59-18b5-4d79-b879-2a7896726fea
          type: string
        metadata:
          example: some metadata
          type: string
        posted_at:
          example: '2016-10-07T06:00:00.000Z'
          type: string
        status:
          example: POSTED
          type: string
        transacted_at:
          example: '2016-10-06T13:00:00.000Z'
          type: string
        type:
          example: DEBIT
          type: string
      required:
      - amount
      - description
      - status
      - transacted_at
      - type
      type: object
    InsightsResponseBody:
      properties:
        insights:
          items:
            $ref: '#/components/schemas/InsightResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    AccountResponseBody:
      properties:
        account:
          $ref: '#/components/schemas/AccountResponse'
      type: object
    ManagedTransactionCreateRequestBody:
      properties:
        transaction:
          $ref: '#/components/schemas/ManagedTransactionCreateRequest'
      type: object
    HoldingsResponseBody:
      properties:
        holdings:
          items:
            $ref: '#/components/schemas/HoldingResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    TransactionCreateRequestBody:
      properties:
        transaction:
          $ref: '#/components/schemas/TransactionCreateRequest'
      type: object
    AccountNumbersResponseBody:
      properties:
        account_numbers:
          items:
            $ref: '#/components/schemas/AccountNumberResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    InsightResponse:
      properties:
        active_at:
          example: '2022-01-07T12:00:00Z'
          nullable: true
          type: string
        client_guid:
          example: CLT-abcd-1234
          nullable: true
          type: string
        created_at:
          example: '2022-01-12T18:16:51Z'
          nullable: true
          type: string
        cta_clicked_at:
          example: '2022-01-12T18:16:51Z'
          nullable: true
          type: string
        description:
          example: Gold's Gym charged you $36.71 more this month than normal. Did you upgrade your service?
          nullable: true
          type: string
        guid:
          example: BET-abcd-1234
          nullable: true
          type: string
        has_associated_accounts:
          example: false
          nullable: true
          type: boolean
        has_associated_merchants:
          example: false
          nullable: true
          type: boolean
        has_associated_scheduled_payments:
          example: false
          nullable: true
          type: boolean
        has_associated_transactions:
          example: true
          nullable: true
          type: boolean
        has_been_displayed:
          example: true
          nullable: true
          type: boolean
        is_dismissed:
          example: false
          nullable: true
          type: boolean
        micro_call_to_action:
          example: Learn more
          nullable: true
          type: string
        micro_description:
          example: Netflix charged you $5.00 more this month than normal.
          nullable: true
          type: string
        micro_title:
          example: Price increase
          nullable: true
          type: string
        template:
          example: SubscriptionPriceIncrease
          nullable: true
          type: string
        title:
          example: Price increase
          nullable: true
          type: string
        updated_at:
          example: '2022-01-12T18:16:51Z'
          nullable: true
          type: string
        user_guid:
          example: USR-1234-abcd
          type: string
        user_id:
          example: user-partner-defined-1234
      type: object
    TransactionCreateRequest:
      properties:
        amount:
          example: 61.11
          type: number
        date:
          example: '2016-10-06'
          type: string
        description:
          example: Whole foods
          type: string
        type:
          description: The type of transaction, which must be CREDIT or DEBIT. See Transaction Fields for more information.
          example: DEBIT
          type: string
        category_guid:
          description: Unique identifier of the category.
          example: CAT-b6d61a19-30a7-e852-2703-bdfb4072289e
          type: string
        currency_code:
          example: USD
          type: string
        has_been_viewed:
          example: false
          type: boolean
        is_hidden:
          example: false
          type: boolean
        is_international:
          example: false
          type: boolean
        memo:
          example: This is a memo
          type: string
        metadata:
          example: some metadata
          type: string
        skip_webhook:
          description: When set to true, this parameter will prevent a webhook from being triggered by the request.
          example: true
          type: boolean
      required:
      - amount
      - date
      - description
      - type
    AccountUpdateRequest:
      properties:
        account_subtype:
          example: PERSONAL
          type: string
        account_type:
          example: SAVINGS
          type: string
        apr:
          example: 1
          type: number
        apy:
          example: 1
          type: number
        available_balance:
          example: 1000
          type: number
        balance:
          example: 1000
          type: number
        cash_surrender_value:
          example: 1000
          type: number
        credit_limit:
          example: 100
          type: number
        currency_code:
          example: USD
          type: string
        death_benefit:
          example: 1000
          type: integer
        interest_rate:
          example: 1
          type: number
        is_business:
          example: false
          type: boolean
        is_closed:
          example: false
          type: boolean
        is_hidden:
          example: false
          type: boolean
        loan_amount:
          example: 1000
          type: number
        metadata:
          example: some metadata
          type: string
        name:
          example: Test account 2
          type: string
        nickname:
          example: Swiss Account
          type: string
        original_balance:
          example: 10
          type: number
        property_type:
          example: VEHICLE
          type: string
        skip_webhook:
          example: true
          type: boolean
      type: object
    TransactionsResponseBody:
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
        transactions:
          items:
            $ref: '#/components/schemas/TransactionResponse'
          type: array
      type: object
    TransactionCreateResponseBody:
      properties:
        account_guid:
          example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
          nullable: true
          type: string
        account_id:
          example: account123
          nullable: true
          type: string
        amount:
          example: 61.11
          nullable: false
          type: number
        category:
          example: Groceries
          nullable: true
          type: string
        category_guid:
          example: CAT-b6d61a19-30a7-e852-2703-bdfb4072289e
          nullable: true
          type: string
        check_number_string:
          example: null
          nullable: true
          type: string
        created_at:
          example: '2016-10-08T09:43:42.000Z'
          nullable: true
          type: string
        currency_code:
          example: USD
          nullable: true
          type: string
        date:
          example: '2016-10-06T00:00:00.000Z'
          nullable: true
          type: string
        description:
          example: Whole foods
          nullable: true
          type: string
        extended_transaction_type:
          example: null
          nullable: true
          type: string
        guid:
          example: TRN-265abee9-889b-af6a-c69b-25157db2bdd9
          nullable: true
          type: string
        id:
          example: null
          nullable: true
          type: string
        is_bill_pay:
          example: false
          nullable: true
          type: boolean
        is_direct_deposit:
          example: false
          nullable: true
          type: boolean
        is_expense:
          example: true
          nullable: true
          type: boolean
        is_fee:
          example: false
          nullable: true
          type: boolean
        is_income:
          example: false
          nullable: true
          type: boolean
        is_international:
          example: false
          nullable: true
          type: boolean
        is_manual:
          example: true
          nullable: true
          type: boolean
        is_overdraft_fee:
          example: false
          nullable: true
          type: boolean
        is_payroll_advance:
          example: false
          nullable: true
          type: boolean
        is_recurring:
          example: null
          nullable: true
          type: boolean
        is_subscription:
          example: false
          nullable: true
          type: boolean
        latitude:
          example: null
          nullable: true
          type: number
        localized_description:
          example: null
          nullable: true
          type: string
        localized_memo:
          example: null
          nullable: true
          type: string
        longitude:
          example: null
          nullable: true
          type: number
        member_guid:
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          nullable: true
          type: string
        member_is_managed_by_user:
          example: true
          nullable: true
          type: boolean
        memo:
          example: This is a memo
          nullable: true
          type: string
        merchant_category_code:
          example: null
          nullable: true
          type: integer
        merchant_guid:
          example: null
          nullable: true
          type: string
        merchant_location_guid:
          example: null
          nullable: true
          type: string
        metadata:
          example: some metadata
          nullable: true
          type: string
        original_description:
          example: null
          nullable: true
          type: string
        posted_at:
          example: null
          nullable: true
          type: string
        status:
          example: null
          nullable: true
          type: string
        top_level_category:
          example: Food & Dining
          nullable: true
          type: string
        transacted_at:
          example: null
          nullable: true
          type: string
        type:
          example: DEBIT
          nullable: false
          type: string
        updated_at:
          example: '2016-10-08T05:49:12.000Z'
          nullable: false
          type: string
        user_guid:
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          nullable: true
          type: string
        user_id:
          example: user123
          nullable: true
          type: string
      type: object
    TransactionResponseBody:
      properties:
        transaction:
          $ref: '#/components/schemas/TransactionResponse'
      type: object
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http
