openapi: 3.0.0
info:
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  description: '

    The MX Platform API is a powerful, fully-featured API designed to make

    aggregating and enhancing financial data easy and reliable. It can

    seamlessly connect your app or website to tens of thousands of financial

    institutions.'
  title: MX Platform Connect_widget_url API
  version: 0.1.0
servers:
- url: https://api.mx.com
- url: https://int-api.mx.com
security:
- basicAuth: []
tags:
- name: Connect_widget_url
paths:
  /users/{user_guid}/connect_widget_url:
    post:
      description: This endpoint will return a URL for an embeddable version of MX Connect.
      operationId: requestConnectWidgetURL
      parameters:
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectWidgetRequestBody'
        description: Optional config options for WebView (is_mobile_webview, current_institution_code, current_member_guid, update_credentials)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/ConnectWidgetResponseBody'
          description: OK
      summary: Request connect widget url
      tags:
      - Connect_widget_url
components:
  schemas:
    ConnectWidgetRequest:
      properties:
        client_redirect_url:
          example: https://mx.com
          type: string
        color_scheme:
          example: light
          type: string
        current_institution_code:
          example: chase
          type: string
        current_member_guid:
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          type: string
        disable_background_agg:
          example: false
          type: boolean
        disable_institution_search:
          example: false
          type: boolean
        include_identity:
          example: false
          type: boolean
        include_transactions:
          example: true
          type: boolean
        is_mobile_webview:
          example: false
          type: boolean
        mode:
          example: aggregation
          type: string
        oauth_referral_source:
          example: BROWSER
          type: string
        ui_message_version:
          example: 4
          type: integer
        ui_message_webview_url_scheme:
          example: mx
          type: string
        update_credentials:
          example: false
          type: boolean
      type: object
    ConnectWidgetResponse:
      properties:
        connect_widget_url:
          example: https://int-widgets.moneydesktop.com/md/connect/jb1rA14m85tw2lyvpgfx4gc6d3Z8z8Ayb8
          nullable: true
          type: string
        guid:
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          nullable: true
          type: string
      type: object
    ConnectWidgetResponseBody:
      properties:
        user:
          $ref: '#/components/schemas/ConnectWidgetResponse'
      type: object
    ConnectWidgetRequestBody:
      properties:
        config:
          $ref: '#/components/schemas/ConnectWidgetRequest'
      type: object
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http
