openapi: 3.0.0
info:
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  description: '

    The MX Platform API is a powerful, fully-featured API designed to make

    aggregating and enhancing financial data easy and reliable. It can

    seamlessly connect your app or website to tens of thousands of financial

    institutions.'
  title: MX Platform Monthly_cash_flow_profile API
  version: 0.1.0
servers:
- url: https://api.mx.com
- url: https://int-api.mx.com
security:
- basicAuth: []
tags:
- name: Monthly_cash_flow_profile
paths:
  /users/{user_guid}/monthly_cash_flow_profile:
    get:
      parameters:
      - name: user_guid
        description: The unique identifier for the user.
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlyCashFlowResponseBody'
      tags:
      - Monthly_cash_flow_profile
      summary: Read monthly cash flow profile
    put:
      description: Use this endpoint to update the attributes of a `monthly_cash_flow_profile`.
      parameters:
      - name: user_guid
        description: The unique identifier for the user.
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonthlyCashFlowProfileRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlyCashFlowResponseBody'
      tags:
      - Monthly_cash_flow_profile
      summary: Update monthly cash flow profile
components:
  schemas:
    MonthlyCashFlowProfileRequest:
      properties:
        goals_contribution:
          example: 150.01
          type: number
          description: The monthly dollar amount allocated for goals.
        uses_estimated_goals_contribution:
          example: false
          type: boolean
          description: Determines if the user uses estimated goals contribution.
    MonthlyCashFlowResponseBody:
      properties:
        monthly_cash_flow_profile:
          $ref: '#/components/schemas/MonthlyCashFlowResponse'
      type: object
    MonthlyCashFlowProfileRequestBody:
      properties:
        institution:
          $ref: '#/components/schemas/MonthlyCashFlowProfileRequest'
      type: object
    MonthlyCashFlowResponse:
      properties:
        guid:
          example: MCF-4e431124-4a29-abf9-f059-ab232ac14dbf
          type: string
          description: Unique identifier for the monthly cash flow profile. Defined by MX.
        user_guid:
          example: USR-6c83f63c-efcc-0189-3f14-100f0bad378a
          type: string
          description: Unique identifier for the user the monthly cash flow profile is attached to. Defined by MX.
        budgeted_income:
          example: 1200.12
          type: number
          description: The amount of the budgeted income for the user.
        budgeted_expenses:
          example: 1000
          type: number
          description: The amount of the budgeted expenses for the user.
        goals_contribution:
          example: 150
          type: number
          description: The monthly dollar amount allocated for goals.
        estimated_goals_contribution:
          example: null
          type: integer
          description: The estimated monthly dollar amount allocated for goals calculated from income and budgets.
        uses_estimated_goals_contribution:
          example: false
          type: boolean
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http
