openapi: 3.0.0
info:
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  description: '

    The MX Platform API is a powerful, fully-featured API designed to make

    aggregating and enhancing financial data easy and reliable. It can

    seamlessly connect your app or website to tens of thousands of financial

    institutions.'
  title: MX Platform Mx_platform API
  version: 0.1.0
servers:
- url: https://api.mx.com
- url: https://int-api.mx.com
security:
- basicAuth: []
tags:
- name: Mx_platform
paths:
  /authorization_code:
    post:
      description: Clients use this endpoint to request an authorization code according to the parameters specified in the scope. Clients then pass this code to processors. Processor access is scoped only to the GUIDs and features specified in this request. Before requesting an authorization code which includes a member in the scope, clients must have verified that member.
      operationId: requestAuthorizationCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationCodeRequestBody'
        description: The scope for the authorization code.
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AuthorizationCodeResponseBody'
          description: OK
      summary: Request an authorization code.
      tags:
      - Mx_platform
  /categories/{category_guid}:
    get:
      description: Use this endpoint to read the attributes of a default category.
      operationId: readDefaultCategory
      parameters:
      - description: The unique id for a `category`.
        example: CAT-7829f71c-2e8c-afa5-2f55-fa3634b89874
        in: path
        name: category_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CategoryResponseBody'
          description: OK
      summary: Read a default category
      tags:
      - Mx_platform
  /institutions:
    get:
      description: This endpoint returns a list of institutions based on the specified search term or parameter.
      operationId: listInstitutions
      parameters:
      - description: This will list only institutions in which the appended string appears.
        example: chase
        in: query
        name: name
        schema:
          type: string
      - description: Specify current page.
        example: 1
        in: query
        name: page
        schema:
          type: integer
      - description: Specify records per page.
        example: 10
        in: query
        name: records_per_page
        schema:
          type: integer
      - description: Filter only institutions which support account identification.
        example: true
        in: query
        name: supports_account_identification
        schema:
          type: boolean
      - description: Filter only institutions which support account statements.
        example: true
        in: query
        name: supports_account_statement
        schema:
          type: boolean
      - description: Filter only institutions which support account verification.
        example: true
        in: query
        name: supports_account_verification
        schema:
          type: boolean
      - description: Filter only institutions which support extended transaction history.
        example: true
        in: query
        name: supports_transaction_history
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InstitutionsResponseBody'
          description: OK
      summary: List institutions
      tags:
      - Mx_platform
  /managed_institutions:
    get:
      description: This endpoint returns a list of institutions which can be used to create partner-managed members.
      operationId: listManagedInstitutions
      parameters:
      - description: Specify current page.
        example: 1
        in: query
        name: page
        schema:
          type: integer
      - description: Specify records per page.
        example: 10
        in: query
        name: records_per_page
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InstitutionsResponseBody'
          description: OK
      summary: List managed institutions
      tags:
      - Mx_platform
  /merchants/{merchant_guid}:
    get:
      description: Returns information about a particular merchant, such as a logo, name, and website.
      operationId: readMerchant
      parameters:
      - description: The unique id for a `merchant`.
        example: MCH-7ed79542-884d-2b1b-dd74-501c5cc9d25b
        in: path
        name: merchant_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MerchantResponseBody'
          description: OK
      summary: Read merchant
      tags:
      - Mx_platform
  /payment_processor_authorization_code:
    post:
      description: (This endpoint is deprecated. Clients should use `/authorization_code`.) Clients use this endpoint to request an authorization_code according to a user, member, and account specified in the request body. Clients then pass this code to processors. Processor access is scoped only to the user/member/account specified in this request. Before requesting an authorization_code, clients must have verified the specified member.
      operationId: deprecatedRequestPaymentProcessorAuthorizationCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentProcessorAuthorizationCodeRequestBody'
        description: The scope for the authorization code.
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/PaymentProcessorAuthorizationCodeResponseBody'
          description: OK
      summary: (Deprecated) Request an authorization code.
      tags:
      - Mx_platform
  /users/{user_guid}:
    delete:
      description: Use this endpoint to delete the specified `user`. The response will have a status of `204 No Content` without an object.
      operationId: deleteUser
      parameters:
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      summary: Delete user
      tags:
      - Mx_platform
    get:
      description: Use this endpoint to read the attributes of a specific user.
      operationId: readUser
      parameters:
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/UserResponseBody'
          description: OK
      summary: Read user
      tags:
      - Mx_platform
    put:
      description: Use this endpoint to update the attributes of the specified user.
      operationId: updateUser
      parameters:
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequestBody'
        description: User object to be updated (None of these parameters are required, but the user object cannot be empty.)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/UserResponseBody'
          description: OK
      summary: Update user
      tags:
      - Mx_platform
  /users/{user_guid}/accounts/{account_guid}:
    delete:
      description: This endpoint deletes accounts that were manually created. The API will respond with an empty object and a status of `204 No Content`.
      operationId: deleteManualAccount
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content.
      summary: Delete manual account
      tags:
      - Mx_platform
    get:
      description: This endpoint returns the specified `account` resource.
      operationId: readAccount
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Read account
      tags:
      - Mx_platform
  /users/{user_guid}/categories/{category_guid}:
    delete:
      description: Use this endpoint to delete a specific custom category according to its unique GUID. The API will respond with an empty object and a status of `204 No Content`.
      operationId: deleteCategory
      parameters:
      - description: The unique id for a `category`.
        example: CAT-7829f71c-2e8c-afa5-2f55-fa3634b89874
        in: path
        name: category_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      summary: Delete category
      tags:
      - Mx_platform
    get:
      description: Use this endpoint to read the attributes of either a default category or a custom category.
      operationId: readCategory
      parameters:
      - description: The unique id for a `category`.
        example: CAT-7829f71c-2e8c-afa5-2f55-fa3634b89874
        in: path
        name: category_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CategoryResponseBody'
          description: OK
      summary: Read a custom category
      tags:
      - Mx_platform
    put:
      description: Use this endpoint to update the attributes of a custom category according to its unique GUID.
      operationId: updateCategory
      parameters:
      - description: The unique id for a `category`.
        example: CAT-7829f71c-2e8c-afa5-2f55-fa3634b89874
        in: path
        name: category_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryUpdateRequestBody'
        description: Category object to be updated (While no single parameter is required, the `category` object cannot be empty)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CategoryResponseBody'
          description: OK
      summary: Update category
      tags:
      - Mx_platform
  /users/{user_guid}/holdings/{holding_guid}:
    get:
      description: Use this endpoint to read the attributes of a specific `holding`.
      operationId: readHolding
      parameters:
      - description: The unique id for a `holding`.
        example: HOL-d65683e8-9eab-26bb-bcfd-ced159c9abe2
        in: path
        name: holding_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/HoldingResponseBody'
          description: OK
      summary: Read holding
      tags:
      - Mx_platform
  /users/{user_guid}/managed_members/{member_guid}:
    delete:
      description: Use this endpoint to delete the specified partner-managed `member`. The endpoint will respond with a status of `204 No Content` without a resource.
      operationId: deleteManagedMember
      parameters:
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      summary: Delete managed member
      tags:
      - Mx_platform
    get:
      description: This endpoint returns the attributes of the specified partner-managed `member`.
      operationId: readManagedMember
      parameters:
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Read managed member
      tags:
      - Mx_platform
    put:
      description: Use this endpoint to update the attributes of the specified partner_managed `member`.
      operationId: updateManagedMember
      parameters:
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedMemberUpdateRequestBody'
        description: Managed member object to be updated (While no single parameter is required, the request body can't be empty)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Update managed member
      tags:
      - Mx_platform
  /users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}:
    delete:
      description: Use this endpoint to delete a partner-managed account according to its unique GUID. If successful, the API will respond with a status of `204 No Content`.
      operationId: deleteManagedAccount
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      summary: Delete managed account
      tags:
      - Mx_platform
    get:
      description: Use this endpoint to read the attributes of a partner-managed account according to its unique guid.
      operationId: readManagedAccount
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Read managed account
      tags:
      - Mx_platform
    put:
      description: Use this endpoint to update the attributes of a partner-managed account according to its unique GUID.
      operationId: updateManagedAccount
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedAccountUpdateRequestBody'
        description: Managed account object to be updated (While no single parameter is required, the request body can't be empty)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Update managed account
      tags:
      - Mx_platform
  /users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}/transactions/{transaction_guid}:
    delete:
      description: Use this endpoint to delete the specified partner-managed `transaction`. The endpoint will respond with a status of `204 No Content` without a resource.
      operationId: deleteManagedTransaction
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `transaction`.
        example: TRN-810828b0-5210-4878-9bd3-f4ce514f90c4
        in: path
        name: transaction_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      summary: Delete managed transaction
      tags:
      - Mx_platform
    get:
      description: Requests to this endpoint will return the attributes of the specified partner-managed `transaction`.
      operationId: readManagedTransaction
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `transaction`.
        example: TRN-810828b0-5210-4878-9bd3-f4ce514f90c4
        in: path
        name: transaction_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionResponseBody'
          description: OK
      summary: Read managed transaction
      tags:
      - Mx_platform
    put:
      description: Use this endpoint to update the attributes of the specified partner_managed `transaction`.
      operationId: updateManagedTransaction
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `transaction`.
        example: TRN-810828b0-5210-4878-9bd3-f4ce514f90c4
        in: path
        name: transaction_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedTransactionUpdateRequestBody'
        description: Managed transaction object to be updated (While no single parameter is required, the request body can't be empty)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionResponseBody'
          description: OK
      summary: Update managed transaction
      tags:
      - Mx_platform
  /users/{user_guid}/members/{member_guid}:
    delete:
      description: Accessing this endpoint will permanently delete a member.
      operationId: deleteMember
      parameters:
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      summary: Delete member
      tags:
      - Mx_platform
    get:
      description: Use this endpoint to read the attributes of a specific member.
      operationId: readMember
      parameters:
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Read member
      tags:
      - Mx_platform
    put:
      description: Use this endpoint to update a members attributes. Only the credentials, id, and metadata parameters can be updated. To get a list of the required credentials for the member, use the list member credentials endpoint.
      operationId: updateMember
      parameters:
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberUpdateRequestBody'
        description: Member object to be updated (While no single parameter is required, the request body can't be empty)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Update member
      tags:
      - Mx_platform
  /users/{user_guid}/members/{member_guid}/accounts/{account_guid}:
    get:
      description: This endpoint allows you to read the attributes of an `account` resource.
      operationId: readAccountByMember
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Read account by member
      tags:
      - Mx_platform
    put:
      description: This endpoint allows you to update certain attributes of an `account` resource, including manual accounts. For manual accounts, you can update every field listed. For aggregated accounts, you can only update `is_business`, `is_hidden` and `metadata`.
      operationId: updateAccountByMember
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateRequestBody'
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Update account by member
      tags:
      - Mx_platform
  /users/{user_guid}/members/{member_guid}/rewards/{reward_guid}:
    get:
      description: Use this endpoint to read a specific `reward` based on its unique GUID..
      operationId: readRewards
      parameters:
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      - description: The unique identifier for the member. Defined by MX.
        example: MBR-fa7537f3-48aa-a683-a02a-b18345562f54
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique identifier for the rewards. Defined by MX.
        example: RWD-fa7537f3-48aa-a683-a02a-b324322f54
        in: path
        name: reward_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/RewardResponseBody'
          description: OK
      summary: Read Reward
      tags:
      - Mx_platform
  /users/{user_guid}/members/{member_guid}/statements/{statement_guid}:
    get:
      description: Use this endpoint to read a JSON representation of the statement.
      operationId: readStatementByMember
      parameters:
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `statement`.
        example: STA-737a344b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: statement_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/StatementResponseBody'
          description: OK
      summary: Read statement by member
      tags:
      - Mx_platform
  /users/{user_guid}/members/{member_guid}/tax_documents/{tax_document_guid}:
    get:
      description: Use this endpoint to read the attributes of the specified tax document.
      operationId: readTaxDocument
      parameters:
      - description: The unique id for a `tax_document`.
        example: TAX-987dfds1b-e582-15b6-60c0-358f12466b4b
        in: path
        name: tax_document_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TaxDocumentResponseBody'
          description: OK
      summary: Read a Tax Document
      tags:
      - Mx_platform
  /users/{user_guid}/taggings/{tagging_guid}:
    delete:
      description: Use this endpoint to delete a tagging according to its unique GUID. If successful, the API will respond with an empty body and a status of 204 NO Content.
      operationId: deleteTagging
      parameters:
      - description: The unique id for a `tagging`.
        example: TGN-007f5486-17e1-45fc-8b87-8f03984430fe
        in: path
        name: tagging_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      summary: Delete tagging
      tags:
      - Mx_platform
    get:
      description: Use this endpoint to read the attributes of a `tagging` according to its unique GUID.
      operationId: readTagging
      parameters:
      - description: The unique id for a `tagging`.
        example: TGN-007f5486-17e1-45fc-8b87-8f03984430fe
        in: path
        name: tagging_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TaggingResponseBody'
          description: OK
      summary: Read tagging
      tags:
      - Mx_platform
    put:
      description: Use this endpoint to update a tagging.
      operationId: updateTagging
      parameters:
      - description: The unique id for a `tagging`.
        example: TGN-007f5486-17e1-45fc-8b87-8f03984430fe
        in: path
        name: tagging_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaggingUpdateRequestBody'
        description: Tagging object to be updated with required parameter (tag_guid)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TaggingResponseBody'
          description: OK
      summary: Update tagging
      tags:
      - Mx_platform
  /users/{user_guid}/tags/{tag_guid}:
    delete:
      description: Use this endpoint to permanently delete a specific tag based on its unique GUID. If successful, the API will respond with status of `204 No Content`.
      operationId: deleteTag
      parameters:
      - description: The unique id for a `tag`.
        example: TAG-aef36e72-6294-4c38-844d-e573e80aed52
        in: path
        name: tag_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      summary: Delete tag
      tags:
      - Mx_platform
    get:
      description: Use this endpoint to read the attributes of a particular tag according to its unique GUID.
      operationId: readTag
      parameters:
      - description: The unique id for a `tag`.
        example: TAG-aef36e72-6294-4c38-844d-e573e80aed52
        in: path
        name: tag_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TagResponseBody'
          description: OK
      summary: Read tag
      tags:
      - Mx_platform
    put:
      description: Use this endpoint to update the name of a specific tag according to its unique GUID.
      operationId: updateTag
      parameters:
      - description: The unique id for a `tag`.
        example: TAG-aef36e72-6294-4c38-844d-e573e80aed52
        in: path
        name: tag_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagUpdateRequestBody'
        description: Tag object to be updated with required parameter (tag_guid)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TagResponseBody'
          description: OK
      summary: Update tag
      tags:
      - Mx_platform
  /users/{user_guid}/transaction_rules/{transaction_rule_guid}:
    delete:
      description: Use this endpoint to permanently delete a transaction rule based on its unique GUID.
      operationId: deleteTransactionRule
      parameters:
      - description: The unique id for a `transaction_rule`.
        example: TXR-a080e0f9-a2d4-4d6f-9e03-672cc357a4d3
        in: path
        name: transaction_rule_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      summary: Delete transaction rule
      tags:
      - Mx_platform
    get:
      description: Use this endpoint to read the attributes of an existing transaction rule based on the rules unique GUID.
      operationId: readTransactionRule
      parameters:
      - description: The unique id for a `transaction_rule`.
        example: TXR-a080e0f9-a2d4-4d6f-9e03-672cc357a4d3
        in: path
        name: transaction_rule_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionRuleResponseBody'
          description: OK
      summary: Read transaction rule
      tags:
      - Mx_platform
    put:
      description: Use this endpoint to update the attributes of a specific transaction rule based on its unique GUID. The API will respond with the updated transaction_rule object. Any attributes not provided will be left unchanged.
      operationId: updateTransactionRule
      parameters:
      - description: The unique id for a `transaction_rule`.
        example: TXR-a080e0f9-a2d4-4d6f-9e03-672cc357a4d3
        in: path
        name: transaction_rule_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRuleUpdateRequestBody'
        description: TransactionRule object to be updated
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionRuleResponseBody'
          description: OK
      summary: Update transaction_rule
      tags:
      - Mx_platform
  /users/{user_guid}/transactions/{transaction_guid}:
    get:
      description: Requests to this endpoint will return the attributes of the specified `transaction`.
      operationId: readTransaction
      parameters:
      - description: The unique id for a `transaction`.
        example: TRN-810828b0-5210-4878-9bd3-f4ce514f90c4
        in: path
        name: transaction_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionResponseBody'
          description: OK
      summary: Read transaction
      tags:
      - Mx_platform
    put:
      description: Use this endpoint to update the `description` of a specific transaction according to its unique GUID.
      operationId: updateTransaction
      parameters:
      - description: The unique id for a `transaction`.
        example: TRN-810828b0-5210-4878-9bd3-f4ce514f90c4
        in: path
        name: transaction_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionUpdateRequestBody'
        description: Transaction object to be updated with a new description
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionResponseBody'
          description: OK
      summary: Update transaction
      tags:
      - Mx_platform
components:
  schemas:
    AuthorizationCodeRequest:
      properties:
        scope:
          example: user-guid:USR-101ad774-288b-44ed-ad16-da87d522ea20 member-guid:MBR-54feffb9-8474-47bd-8442-de003910113a account-guid:ACT-32a64160-582a-4f00-ab34-5f49cc35ed35 read-protected
          nullable: true
          type: string
      type: object
    StatementResponse:
      properties:
        account_guid:
          example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
          nullable: true
          type: string
        content_hash:
          example: ca53785b812d00ef821c3d94bfd6e5bbc0020504410589b7ea8552169f021981
          nullable: true
          type: string
        created_at:
          example: '2016-10-13T18:08:00+00:00'
          nullable: true
          type: string
        guid:
          example: STA-737a344b-caae-0f6e-1384-01f52e75dcb1
          nullable: true
          type: string
        member_guid:
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          nullable: true
          type: string
        updated_at:
          example: '2016-10-13T18:09:00+00:00'
          nullable: true
          type: string
        uri:
          example: uri/to/statement
          nullable: true
          type: string
        user_guid:
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          nullable: true
          type: string
      type: object
    TransactionUpdateRequest:
      properties:
        description:
          example: new description
          type: string
      required:
      - description
      type: object
    CategoryUpdateRequestBody:
      properties:
        category:
          $ref: '#/components/schemas/CategoryUpdateRequest'
      type: object
    ManagedAccountUpdateRequestBody:
      properties:
        account:
          $ref: '#/components/schemas/ManagedAccountUpdateRequest'
      type: object
    PaginationResponse:
      properties:
        current_page:
          example: 1
          type: integer
        per_page:
          example: 25
          type: integer
        total_entries:
          example: 1
          type: integer
        total_pages:
          example: 1
          type: integer
      type: object
    ManagedMemberUpdateRequestBody:
      properties:
        member:
          $ref: '#/components/schemas/ManagedMemberUpdateRequest'
      type: object
    HoldingResponseBody:
      properties:
        holding:
          $ref: '#/components/schemas/HoldingResponse'
      type: object
    InstitutionResponse:
      properties:
        code:
          example: chase
          nullable: true
          type: string
        forgot_password_url:
          example: https://example.url.chase.com/forgot-password
          nullable: true
          type: string
        forgot_username_url:
          example: https://example.url.chase.com/forgot-username
          nullable: true
          type: string
        instructional_text:
          example: Some instructional text <a href="https://example.url.chase.com/instructions" id="instructional_text">for end users</a>.
          nullable: true
          type: string
        medium_logo_url:
          example: https://content.moneydesktop.com/storage/MD_Assets/Ipad%20Logos/100x100/default_100x100.png
          nullable: true
          type: string
        name:
          example: Chase Bank
          nullable: true
          type: string
        small_logo_url:
          example: https://content.moneydesktop.com/storage/MD_Assets/Ipad%20Logos/50x50/default_50x50.png
          nullable: true
          type: string
        supports_account_identification:
          example: true
          nullable: true
          type: boolean
        supports_account_statement:
          example: true
          nullable: true
          type: boolean
        supports_account_verification:
          example: true
          nullable: true
          type: boolean
        supports_oauth:
          example: true
          nullable: true
          type: boolean
        supports_tax_document:
          example: true
          nullable: true
          type: boolean
        supports_transaction_history:
          example: true
          nullable: true
          type: boolean
        trouble_signing_in_url:
          example: https://example.url.chase.com/login-trouble
          nullable: true
          type: string
        url:
          example: https://www.chase.com
          nullable: true
          type: string
      type: object
    TaxDocumentResponse:
      properties:
        content_hash:
          example: a16c580c4fcdfa8088edaa7b4d35b290
          nullable: true
          type: string
        created_at:
          example: '2022-10-18T19:23:16Z'
          nullable: true
          type: string
        document_type:
          example: TAX1099_C
          nullable: true
          type: string
        guid:
          example: TAX-ee8776ea-468b-4b02-b95d-743adf6ba50e
          nullable: true
          type: string
        issued_on:
          example: '2022-03-31'
          nullable: true
          type: string
        member_guid:
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          nullable: true
          type: string
        tax_year:
          example: '2023'
          nullable: true
          type: string
        updated_at:
          example: '2022-10-18T19:23:16Z'
          nullable: true
          type: string
        uri:
          example: /users/USR-11141024-90b3-1bce-cac9-c06ced52ab4c/members/MBR-7c6f361b-e582-15b6-60c0-358f12466b4b/tax_documents/TAX-ee8776ea-468b-4b02-b95d-743adf6ba50e.pdf
          nullable: true
          type: string
        user_guid:
          example: USR-11141024-90b3-1bce-cac9-c06ced52ab4c
          nullable: true
          type: string
      type: object
    CredentialRequest:
      properties:
        guid:
          example: CRD-27d0edb8-1d50-5b90-bcbc-be270ca42b9f
          type: string
        value:
          example: password
          type: string
      type: object
    AuthorizationCodeResponseBody:
      properties:
        authorization_code:
          items:
            $ref: '#/components/schemas/AuthorizationCodeResponse'
      type: object
    TransactionRuleUpdateRequest:
      properties:
        category_guid:
          example: CAT-b1de2a04-db08-b6ed-f6fe-ca2f5b11c2d0
          type: string
        description:
          example: Wal-mart food storage
          type: string
        match_description:
          example: Wal-mart
          type: string
      type: object
    CategoryResponseBody:
      properties:
        category:
          $ref: '#/components/schemas/CategoryResponse'
      type: object
    UserResponseBody:
      properties:
        user:
          $ref: '#/components/schemas/UserResponse'
      type: object
    RewardResponse:
      properties:
        account_guid:
          example: ACT-1234
          type: string
        balance_type:
          example: EXPIRING_BALANCE
          type: string
        balance:
          example: 102
          type: integer
        created_at:
          example: 2020-01-28T21:09:01+0000
          type: string
        description:
          example: A description of the reward.
          type: string
        expires_on:
          example: '2020-02-28T00:00:00.000Z'
          type: string
        guid:
          example: RWD-1234
          type: string
        member_guid:
          example: MBR-4567
          type: string
        unit_type:
          example: POINTS
          type: string
        updated_at:
          example: '2023-06-01T19:18:06.000Z'
          type: string
        user_guid:
          example: USR-1234
          type: string
    MemberUpdateRequestBody:
      properties:
        member:
          $ref: '#/components/schemas/MemberUpdateRequest'
      type: object
    ManagedMemberUpdateRequest:
      properties:
        id:
          example: member123
          type: string
        metadata:
          example: some metadata
          type: string
        name:
          example: MX Bank
          type: string
      type: object
    AuthorizationCodeResponse:
      properties:
        code:
          example: 9nN-9D8_4Z3WYazx7-zXfmqsD3jwgL_2W927Sb3otI
          nullable: true
          type: string
      type: object
    UserResponse:
      properties:
        email:
          example: email@provider.com
          nullable: true
          type: string
        guid:
          example: USR-d74cb14f-fd0a-449f-991b-e0362a63d9c6
          nullable: true
          type: string
        id:
          example: My-Unique-ID
          nullable: true
          type: string
        is_disabled:
          example: false
          nullable: true
          type: boolean
        metadata:
          example: '{\"first_name\": \"Steven\", \"last_name\": \"Universe\"}'
          nullable: true
          type: string
      type: object
    ManagedAccountUpdateRequest:
      properties:
        account_number:
          example: '5366'
          type: string
        apr:
          example: 1
          type: number
        apy:
          example: 1
          type: number
        available_balance:
          example: 1000
          type: number
        available_credit:
          example: 1000
          type: number
        balance:
          example: 1000
          type: number
        cash_surrender_value:
          example: 1000
          type: number
        credit_limit:
          example: 100
          type: number
        currency_code:
          example: USD
          type: string
        day_payment_is_due:
          example: 20
          type: integer
        death_benefit:
          example: 1000
          type: integer
        id:
          example: '1040434698'
          type: string
        interest_rate:
          example: 1
          type: number
        is_closed:
          example: false
          type: boolean
        is_hidden:
          example: false
          type: boolean
        last_payment:
          example: 100
          type: number
        last_payment_at:
          example: '2015-10-13T17:57:37.000Z'
          type: string
        loan_amount:
          example: 1000
          type: number
        matures_on:
          example: '2015-10-13T17:57:37.000Z'
          type: string
        metadata:
          example: some metadata
          type: string
        minimum_balance:
          example: 100
          type: number
        minimum_payment:
          example: 10
          type: number
        name:
          example: Test account 2
          type: string
        nickname:
          example: Swiss Account
          type: string
        original_balance:
          example: 10
          type: number
        payment_due_at:
          example: '2015-10-13T17:57:37.000Z'
          type: string
        payoff_balance:
          example: 10
          type: number
        routing_number:
          example: '68899990000000'
          type: string
        started_on:
          example: '2015-10-13T17:57:37.000Z'
          type: string
        subtype:
          example: NONE
          type: string
        type:
          example: SAVINGS
          type: string
      type: object
    MerchantResponseBody:
      properties:
        merchant:
          $ref: '#/components/schemas/MerchantResponse'
      type: object
    AuthorizationCodeRequestBody:
      properties:
        authorization_code:
          $ref: '#/components/schemas/AuthorizationCodeRequest'
      type: object
    TaggingUpdateRequestBody:
      properties:
        tagging:
          $ref: '#/components/schemas/TaggingUpdateRequest'
      type: object
    TransactionUpdateRequestBody:
      properties:
        transaction:
          $ref: '#/components/schemas/TransactionUpdateRequest'
      type: object
    StatementResponseBody:
      properties:
        statement:
          $ref: '#/components/schemas/StatementResponse'
      type: object
    TransactionRuleUpdateRequestBody:
      properties:
        transaction_rule:
          $ref: '#/components/schemas/TransactionRuleUpdateRequest'
      type: object
    AccountUpdateRequestBody:
      properties:
        account:
          $ref: '#/components/schemas/AccountUpdateRequest'
      type: object
    TransactionRuleResponse:
      properties:
        category_guid:
          example: CAT-b1de2a04-db08-b6ed-f6fe-ca2f5b11c2d0
          nullable: true
          type: string
        created_at:
          example: '2018-10-02T22:00:50+00:00'
          nullable: true
          type: string
        description:
          example: Wal-mart food storage
          nullable: true
          type: string
        guid:
          example: TXR-a080e0f9-a2d4-4d6f-9e03-672cc357a4d3
          nullable: true
          type: string
        match_description:
          example: Wal-mart
          nullable: true
          type: string
        updated_at:
          example: '2018-10-02T23:54:40+00:00'
          nullable: true
          type: string
        user_guid:
          example: USR-22fc3203-b3e6-8340-43db-8e50b2f56995
          nullable: true
          type: string
      type: object
    AccountResponse:
      properties:
        account_number:
          example: '5366'
          nullable: true
          type: string
        account_ownership:
          example: INDIVIDUAL
          nullable: true
          type: string
        annuity_policy_to_date:
          example: '2016-10-13T17:57:37.000Z'
          nullable: true
          type: string
        annuity_provider:
          example: Metlife
          nullable: true
          type: string
        annuity_term_year:
          example: 2048
          nullable: true
          type: number
        apr:
          example: 1
          nullable: true
          type: number
        apy:
          example: 1
          nullable: true
          type: number
        available_balance:
          example: 1000
          nullable: true
          type: number
        available_credit:
          example: 1000
          nullable: true
          type: number
        balance:
          example: 10000
          nullable: true
          type: number
        cash_balance:
          example: 1000
          nullable: true
          type: number
        cash_surrender_value:
          example: 1000
          nullable: true
          type: number
        created_at:
          example: '2023-07-25T17:14:46Z'
          nullable: false
          type: string
        credit_limit:
          example: 100
          nullable: true
          type: number
        currency_code:
          example: USD
          nullable: true
          type: string
        day_payment_is_due:
          example: 20
          nullable: true
          type: integer
        death_benefit:
          example: 1000
          nullable: true
          type: integer
        federal_insurance_status:
          example: INSURED
          nullable: true
          type: string
        guid:
          example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
          nullable: true
          type: string
        holdings_value:
          example: 1000
          nullable: true
          type: number
        id:
          example: '1040434698'
          nullable: true
          type: string
        imported_at:
          example: '2015-10-13T17:57:37.000Z'
          nullable: true
          type: string
        institution_code:
          example: 3af3685e-05d9-7060-359f-008d0755e993
          nullable: true
          type: string
        insured_name:
          example: Tommy Shelby
          nullable: true
          type: string
        interest_rate:
          example: 1
          nullable: true
          type: number
        is_closed:
          example: false
          nullable: true
          type: boolean
        is_hidden:
          example: false
          nullable: true
          type: boolean
        is_manual:
          example: false
          nullable: true
          type: boolean
        last_payment:
          example: 100
          nullable: true
          type: number
        last_payment_at:
          example: '2023-07-25T17:14:46Z'
          nullable: true
          type: string
        loan_amount:
          example: 1000
          nullable: true
          type: number
        margin_balance:
          example: 1000
          nullable: true
          type: number
        matures_on:
          example: '2015-10-13T17:57:37.000Z'
          nullable: true
          type: string
        member_guid:
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          nullable: true
          type: string
        member_id:
          example: member123
          nullable: true
          type: string
        member_is_managed_by_user:
          example: false
          nullable: true
          type: boolean
        metadata:
          example: some metadata
          nullable: true
          type: string
        minimum_balance:
          example: 100
          nullable: true
          type: number
        minimum_payment:
          example: 10
          nullable: true
          type: number
        name:
          example: Test account 2
          nullable: true
          type: string
        nickname:
          example: My Checking
          nullable: true
          type: string
        original_balance:
          example: 10
          nullable: true
          type: number
        pay_out_amount:
          example: 10
          nullable: true
          type: number
        payment_due_at:
          example: '2015-10-13T17:57:37.000Z'
          nullable: true
          type: string
        payoff_balance:
          example: 10
          nullable: true
          type: number
        premium_amount:
          example: 1
          nullable: true
          type: number
        property_type:
          example: VEHICLE
          nullable: true
          type: string
        routing_number:
          example: '68899990000000'
          nullable: true
          type: string
        started_on:
          example: '2015-10-13T17:57:37.000Z'
          nullable: true
          type: string
        statement_balance:
          example: 100.1
          nullable: true
          type: number
        subtype:
          example: NONE
          nullable: true
          type: string
        today_ugl_amount:
          example: 1000.5
          nullable: true
          type: number
        today_ugl_percentage:
          example: 6.9
          nullable: true
          type: number
        total_account_value:
          example: 1
          nullable: true
          type: number
        total_account_value_ugl:
          example: 1.1
          nullable: true
          type: number
        type:
          example: SAVINGS
          nullable: true
          type: string
        updated_at:
          example: '2016-10-13T18:08:00.000Z'
          nullable: true
          type: string
        user_guid:
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          nullable: true
          type: string
        user_id:
          example: user123
          nullable: true
          type: string
      type: object
    MerchantResponse:
      properties:
        created_at:
          example: '2017-04-20T19:30:12.000Z'
          nullable: true
          type: string
        guid:
          example: MCH-7ed79542-884d-2b1b-dd74-501c5cc9d25b
          nullable: true
          type: string
        logo_url:
          example: https://s3.amazonaws.com/MD_Assets/merchant_logos/comcast.png
          nullable: true
          type: string
        name:
          example: Comcast
          nullable: true
          type: string
        updated_at:
          example: '2018-09-28T21:13:53.000Z'
          nullable: true
          type: string
        website_url:
          example: https://www.xfinity.com
          nullable: true
          type: string
      type: object
    MemberUpdateRequest:
      properties:
        background_aggregation_is_disabled:
          example: false
          type: boolean
        credentials:
          items:
            $ref: '#/components/schemas/CredentialRequest'
          type: array
        id:
          example: unique_id
          type: string
        metadata:
          example: '\"credentials_last_refreshed_at\": \"2015-10-15\"'
          type: string
        skip_aggregation:
          example: false
          type: boolean
      type: object
    ManagedTransactionUpdateRequest:
      properties:
        amount:
          example: '61.11'
          type: string
        category:
          example: Groceries
          type: string
        check_number_string:
          example: '6812'
          type: string
        currency_code:
          example: USD
          type: string
        description:
          example: Whole foods
          type: string
        id:
          example: transaction-265abee9-889b-af6a-c69b-25157db2bdd9
          type: string
        is_international:
          example: false
          type: boolean
        latitude:
          example: -43.2075
          type: number
        localized_description:
          example: This is a localized_description
          type: string
        localized_memo:
          example: This is a localized_memo
          type: string
        longitude:
          example: 139.691706
          type: number
        memo:
          example: This is a memo
          type: string
        merchant_category_code:
          example: 5411
          type: integer
        merchant_guid:
          example: MCH-7ed79542-884d-2b1b-dd74-501c5cc9d25b
          type: string
        merchant_location_guid:
          example: MCL-00024e59-18b5-4d79-b879-2a7896726fea
          type: string
        metadata:
          example: some metadata
          type: string
        posted_at:
          example: '2016-10-07T06:00:00.000Z'
          type: string
        status:
          example: POSTED
          type: string
        transacted_at:
          example: '2016-10-06T13:00:00.000Z'
          type: string
        type:
          example: DEBIT
          type: string
      type: object
    InstitutionsResponseBody:
      properties:
        institutions:
          items:
            $ref: '#/components/schemas/InstitutionResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    RewardResponseBody:
      properties:
        reward:
          $ref: '#/components/schemas/RewardResponse'
      type: object
    TagUpdateRequestBody:
      properties:
        tag:
          $ref: '#/components/schemas/TagUpdateRequest'
      type: object
    TransactionRuleResponseBody:
      properties:
        transaction_rule:
          $ref: '#/components/schemas/TransactionRuleResponse'
      type: object
    HoldingResponse:
      properties:
        account_guid:
          example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
          nullable: true
          type: string
        cost_basis:
          example: 827
          nullable: true
          type: number
        created_at:
          example: '2015-04-13T18:01:23.000Z'
          nullable: true
          type: string
        currency_code:
          example: USD
          nullable: true
          type: string
        cusip:
          example: 18383M878
          nullable: true
          type: string
        daily_change:
          example: 2.5
          nullable: true
          type: number
        description:
          example: Guggenheim Defensive Equity ETF
          nullable: true
          type: string
        guid:
          example: HOL-d65683e8-9eab-26bb-bcfd-ced159c9abe2
          nullable: true
          type: string
        holding_type:
          example: MONEY_MARKET
          nullable: true
          type: string
        holding_type_id:
          example: 1
          nullable: true
          type: integer
        id:
          example: ID-123
          nullable: true
          type: string
        market_value:
          example: 989.5
          nullable: true
          type: number
        member_guid:
          example: MBR-d65683e8-9eab-26bb-bcfd-ced159c9abe
          nullable: true
          type: string
        metadata:
          example: metadata
          nullable: true
          type: string
        purchase_price:
          example: 26.3
          nullable: true
          type: number
        shares:
          example: 6
          nullable: true
          type: number
        symbol:
          example: DEF
          nullable: true
          type: string
        updated_at:
          example: '2015-04-13T18:01:23.000Z'
          nullable: true
          type: string
        user_guid:
          example: USR-743e5d7f-1116-28fa-5de1-d3ba02e41d8d
          nullable: true
          type: string
      type: object
    TaxDocumentResponseBody:
      properties:
        tax_document:
          $ref: '#/components/schemas/TaxDocumentResponse'
      type: object
    TransactionResponse:
      properties:
        account_guid:
          example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
          nullable: true
          type: string
        account_id:
          example: account123
          nullable: true
          type: string
        amount:
          example: 61.11
          nullable: true
          type: number
        category:
          example: Groceries
          nullable: true
          type: string
        category_guid:
          example: CAT-9588eaad-90a4-bb5c-66c8-1812503d0db8
          nullable: true
          type: string
        check_number_string:
          example: '6812'
          nullable: true
          type: string
        created_at:
          example: '2016-10-06T09:43:42.000Z'
          nullable: true
          type: string
        currency_code:
          example: USD
          nullable: true
          type: string
        date:
          example: '2013-09-23T00:00:00.000Z'
          nullable: true
          type: string
        description:
          example: Whole foods
          nullable: true
          type: string
        extended_transaction_type:
          example: partner_transaction_type
          nullable: true
          type: string
        guid:
          example: TRN-265abee9-889b-af6a-c69b-25157db2bdd9
          nullable: true
          type: string
        id:
          example: transaction-265abee9-889b-af6a-c69b-25157db2bdd9
          nullable: true
          type: string
        is_bill_pay:
          example: false
          nullable: true
          type: boolean
        is_direct_deposit:
          example: false
          nullable: true
          type: boolean
        is_expense:
          example: true
          nullable: true
          type: boolean
        is_fee:
          example: false
          nullable: true
          type: boolean
        is_income:
          example: false
          nullable: true
          type: boolean
        is_international:
          example: false
          nullable: true
          type: boolean
        is_overdraft_fee:
          example: false
          nullable: true
          type: boolean
        is_payroll_advance:
          example: false
          nullable: true
          type: boolean
        is_recurring:
          example: false
          nullable: true
          type: boolean
        is_subscription:
          example: false
          nullable: true
          type: boolean
        latitude:
          example: -43.2075
          nullable: true
          type: number
        localized_description:
          example: This is a localized_description
          nullable: true
          type: string
        localized_memo:
          example: This is a localized_memo
          nullable: true
          type: string
        longitude:
          example: 139.691706
          nullable: true
          type: number
        member_guid:
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          nullable: true
          type: string
        member_is_managed_by_user:
          example: false
          nullable: true
          type: boolean
        memo:
          example: This is a memo
          nullable: true
          type: string
        merchant_category_code:
          example: 5411
          nullable: true
          type: integer
        merchant_guid:
          example: MCH-7ed79542-884d-2b1b-dd74-501c5cc9d25b
          nullable: true
          type: string
        merchant_location_guid:
          example: MCL-00024e59-18b5-4d79-b879-2a7896726fea
          nullable: true
          type: string
        metadata:
          example: some metadata
          nullable: true
          type: string
        original_description:
          example: WHOLEFDS TSQ 102
          nullable: true
          type: string
        posted_at:
          example: '2016-10-07T06:00:00.000Z'
          nullable: true
          type: string
        status:
          example: POSTED
          nullable: true
          type: string
        top_level_category:
          example: Food & Dining
          nullable: true
          type: string
        transacted_at:
          example: '2016-10-06T13:00:00.000Z'
          nullable: true
          type: string
        type:
          example: DEBIT
          nullable: true
          type: string
        updated_at:
          example: '2016-10-07T05:49:12.000Z'
          nullable: true
          type: string
        user_guid:
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          nullable: true
          type: string
        user_id:
          example: user123
          nullable: true
          type: string
      type: object
    PaymentProcessorAuthorizationCodeRequestBody:
      properties:
        payment_processor_authorization_code:
          $ref: '#/components/schemas/PaymentProcessorAuthorizationCodeRequest'
      type: object
    ManagedTransactionUpdateRequestBody:
      properties:
        transaction:
          $ref: '#/components/schemas/ManagedTransactionUpdateRequest'
      type: object
    MemberResponse:
      properties:
        aggregated_at:
          example: '2016-10-13T18:07:57.000Z'
          nullable: true
          type: string
        background_aggregation_is_disabled:
          example: false
          type: boolean
        connection_status:
          example: CONNECTED
          nullable: true
          type: string
        guid:
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          nullable: true
          type: string
        id:
          example: unique_id
          nullable: true
          type: string
        institution_code:
          example: chase
          nullable: true
          type: string
        is_being_aggregated:
          example: false
          nullable: true
          type: boolean
        is_managed_by_user:
          example: false
          nullable: true
          type: boolean
        is_manual:
          example: false
          nullable: true
          type: boolean
        is_oauth:
          example: false
          nullable: true
          type: boolean
        metadata:
          example: '\"credentials_last_refreshed_at\": \"2015-10-15\"'
          nullable: true
          type: string
        most_recent_job_detail_code:
          example: (deprecated)
          nullable: true
          type: string
        most_recent_job_detail_text:
          example: (deprecated)
          nullable: true
          type: string
        name:
          example: Chase Bank
          nullable: true
          type: string
        oauth_window_uri:
          example: https://mxbank.mx.com/oauth/authorize?client_id=b8OikQ4Ep3NuSUrQ13DdvFuwpNx-qqoAsJDVAQCyLkQ&redirect_uri=https%3A%2F%2Fint-app.moneydesktop.com%2Foauth%2Fredirect_from&response_type=code&scope=openid&state=d745bd4ee6f0f9c184757f574bcc2df2
          nullable: true
          type: string
        successfully_aggregated_at:
          example: '2016-10-13T17:57:38.000Z'
          nullable: true
          type: string
        use_cases:
          example:
          - PFM
          - IAV
          nullable: true
          type: array
          items:
            example: PFM
            nullable: false
            type: string
        user_guid:
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          nullable: true
          type: string
        user_id:
          example: user123
          nullable: true
          type: string
      type: object
    AccountResponseBody:
      properties:
        account:
          $ref: '#/components/schemas/AccountResponse'
      type: object
    TaggingResponse:
      properties:
        guid:
          example: TGN-007f5486-17e1-45fc-8b87-8f03984430fe
          nullable: true
          type: string
        member_is_managed_by_user:
          example: false
          nullable: true
          type: boolean
        tag_guid:
          example: TAG-40faf068-abb4-405c-8f6a-e883ed541fff
          nullable: true
          type: string
        transaction_guid:
          example: TRN-810828b0-5210-4878-9bd3-f4ce514f90c4
          nullable: true
          type: string
        user_guid:
          example: USR-11141024-90b3-1bce-cac9-c06ced52ab4c
          nullable: true
          type: string
      type: object
    PaymentProcessorAuthorizationCodeResponseBody:
      properties:
        payment_processor_authorization_code:
          $ref: '#/components/schemas/PaymentProcessorAuthorizationCodeResponse'
      type: object
    CategoryUpdateRequest:
      properties:
        metadata:
          example: some metadata
          type: string
        name:
          example: Web shopping
          type: string
      type: object
    CategoryResponse:
      properties:
        created_at:
          example: '2015-04-13T18:01:23.000Z'
          nullable: true
          type: string
        guid:
          example: CAT-7829f71c-2e8c-afa5-2f55-fa3634b89874
          nullable: true
          type: string
        is_default:
          example: true
          nullable: true
          type: boolean
        is_income:
          example: false
          nullable: true
          type: boolean
        metadata:
          example: some metadata
          nullable: true
          type: string
        name:
          example: Auto Insurance
          nullable: true
          type: string
        parent_guid:
          example: CAT-7829f71c-2e8c-afa5-2f55-fa3634b89874
          nullable: true
          type: string
        updated_at:
          example: '2015-05-13T18:01:23.000Z'
          nullable: true
          type: string
      type: object
    TagUpdateRequest:
      properties:
        name:
          example: MY TAG
          type: string
      required:
      - name
      type: object
    MemberResponseBody:
      properties:
        member:
          $ref: '#/components/schemas/MemberResponse'
      type: object
    TaggingUpdateRequest:
      properties:
        tag_guid:
          example: TAG-40faf068-abb4-405c-8f6a-e883ed541fff
          type: string
      required:
      - tag_guid
      type: object
    TagResponseBody:
      properties:
        tag:
          $ref: '#/components/schemas/TagResponse'
      type: object
    PaymentProcessorAuthorizationCodeRequest:
      properties:
        account_guid:
          example: ACT-4d4c0068-33bc-4d06-bbd6-cd270fd0135c
          nullable: true
          type: string
        member_guid:
          example: MBR-46637bc5-942d-4229-9370-ddd858bf805e
          nullable: true
          type: string
        user_guid:
          example: USR-f12b1f5a-7cbe-467c-aa30-0a10d0b2f549
          nullable: true
          type: string
      type: object
    AccountUpdateRequest:
      properties:
        account_subtype:
          example: PERSONAL
          type: string
        account_type:
          example: SAVINGS
          type: string
        apr:
          example: 1
          type: number
        apy:
          example: 1
          type: number
        available_balance:
          example: 1000
          type: number
        balance:
          example: 1000
          type: number
        cash_surrender_value:
          example: 1000
          type: number
        credit_limit:
          example: 100
          type: number
        currency_code:
          example: USD
          type: string
        death_benefit:
          example: 1000
          type: integer
        interest_rate:
          example: 1
          type: number
        is_business:
          example: false
          type: boolean
        is_closed:
          example: false
          type: boolean
        is_hidden:
          example: false
          type: boolean
        loan_amount:
          example: 1000
          type: number
        metadata:
          example: some metadata
          type: string
        name:
          example: Test account 2
          type: string
        nickname:
          example: Swiss Account
          type: string
        original_balance:
          example: 10
          type: number
        property_type:
          example: VEHICLE
          type: string
        skip_webhook:
          example: true
          type: boolean
      type: object
    TaggingResponseBody:
      properties:
        tagging:
          $ref: '#/components/schemas/TaggingResponse'
      type: object
    UserUpdateRequest:
      properties:
        email:
          example: email@provider.com
          type: string
        id:
          example: My-Unique-ID
          type: string
        is_disabled:
          example: false
          type: boolean
        metadata:
          example: '{\"first_name\": \"Steven\", \"last_name\": \"Universe\"}'
          type: string
      type: object
    PaymentProcessorAuthorizationCodeResponse:
      properties:
        authorization_code:
          example: 9nN-9D8_4Z3WYazx7-zXfmqsD3jwgL_2W927Sb3otI
          nullable: true
          type: string
      type: object
    TagResponse:
      properties:
        guid:
          example: TAG-aef36e72-6294-4c38-844d-e573e80aed52
          nullable: true
          type: string
        name:
          example: MY TAG
          nullable: true
          type: string
        user_guid:
          example: USR-11141024-90b3-1bce-cac9-c06ced52ab4c
          nullable: true
          type: string
      type: object
    TransactionResponseBody:
      properties:
        transaction:
          $ref: '#/components/schemas/TransactionResponse'
      type: object
    UserUpdateRequestBody:
      properties:
        user:
          $ref: '#/components/schemas/UserUpdateRequest'
      type: object
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http
