openapi: 3.0.0
info:
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  description: '

    The MX Platform API is a powerful, fully-featured API designed to make

    aggregating and enhancing financial data easy and reliable. It can

    seamlessly connect your app or website to tens of thousands of financial

    institutions.'
  title: MX Platform Micro_deposits API
  version: 0.1.0
servers:
- url: https://api.mx.com
- url: https://int-api.mx.com
security:
- basicAuth: []
tags:
- name: Micro_deposits
paths:
  /users/{user_guid}/micro_deposits:
    get:
      tags:
      - Micro_deposits
      summary: List all microdeposits for a user
      description: Use this endpoint to read the attributes of a specific microdeposit according to its unique GUID.
      parameters:
      - name: user_guid
        description: The unique identifier for the user. Defined by MX.
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicrodepositsResponseBody'
    post:
      tags:
      - Micro_deposits
      summary: Create a microdeposit
      description: Use this endpoint to create a microdeposit. The response will include the new microdeposit record with a status of INITIATED.
      parameters:
      - name: user_guid
        description: The unique identifier for the user. Defined by MX.
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MicrodepositRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicrodepositResponseBody'
  /users/{user_guid}/micro_deposits/{micro_deposit_guid}:
    delete:
      tags:
      - Micro_deposits
      summary: Delete a microdeposit
      description: Use this endpoint to delete the specified microdeposit.
      parameters:
      - name: micro_deposit_guid
        description: The unique identifier for the microdeposit. Defined by MX.
        in: path
        required: true
        example: MIC-09ba578e-8448-4f7f-89e1-b62ff2517edb
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
    get:
      tags:
      - Micro_deposits
      summary: Read a microdeposit for a user
      description: Use this endpoint to read the attributes of a specific microdeposit according to its unique GUID. <br></br> Webhooks for microdeposit status changes are triggered when a status changes. The actual status of the microdeposit guid updates every minute. You may force a status update by calling the read microdeposit endpoint.
      parameters:
      - name: user_guid
        description: The unique identifier for the user. Defined by MX.
        in: path
        required: true
        schema:
          type: string
      - name: micro_deposit_guid
        description: The unique identifier for the microdeposit. Defined by MX.
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicrodepositResponseBody'
components:
  schemas:
    MicrodepositRequest:
      properties:
        account_number:
          example: '3331261'
          type: string
        account_type:
          example: CHECKING
          type: string
        routing_number:
          example: 091000019
          type: string
        account_name:
          example: My test account
          type: string
        email:
          example: joshyboy2@example.com
          type: string
        first_name:
          example: Joshy
          type: string
        last_name:
          example: Grobanne
          type: string
      required:
      - account_number
      - account_type
      - routing_number
    MicrodepositResponseBody:
      properties:
        micro_deposit:
          $ref: '#/components/schemas/MicrodepositResponse'
      type: object
    PaginationResponse:
      properties:
        current_page:
          example: 1
          type: integer
        per_page:
          example: 25
          type: integer
        total_entries:
          example: 1
          type: integer
        total_pages:
          example: 1
          type: integer
      type: object
    MicrodepositsResponseBody:
      properties:
        micro_deposits:
          items:
            $ref: '#/components/schemas/MicrodepositResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    MicrodepositResponse:
      properties:
        account_name:
          type: string
          example: My test account
        account_number:
          type: string
          example: 3331261
        account_type:
          type: string
          example: CHECKING
        email:
          type: string
          example: joshyboy2@example.com
        first_name:
          type: string
          example: Joshy
        last_name:
          type: string
          example: Grobanne
        routing_number:
          type: string
          example: 91000019
        error_message:
          type: string
          example: null
        guid:
          type: string
          example: MIC-09ba578e-8448-4f7f-89e1-b62ff2517edb
        institution_code:
          example: mxbank
          type: string
        institution_name:
          example: MX Bank
          type: string
        status:
          example: INITIATED
          type: string
        updated_at:
          example: '2023-06-01T19:18:06.000Z'
          type: string
        verified_at:
          example: null
          type: string
    MicrodepositRequestBody:
      properties:
        micro_deposit:
          $ref: '#/components/schemas/MicrodepositRequest'
      type: object
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http
