openapi: 3.0.0
info:
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  description: '

    The MX Platform API is a powerful, fully-featured API designed to make

    aggregating and enhancing financial data easy and reliable. It can

    seamlessly connect your app or website to tens of thousands of financial

    institutions.'
  title: MX Platform Account_owners API
  version: 0.1.0
servers:
- url: https://api.mx.com
- url: https://int-api.mx.com
security:
- basicAuth: []
tags:
- name: Account_owners
paths:
  /users/{user_guid}/members/{member_guid}/account_owners:
    get:
      description: This endpoint returns an array with information about every account associated with a particular member.
      operationId: listAccountOwnersByMember
      parameters:
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: Specify current page.
        example: 1
        in: query
        name: page
        schema:
          type: integer
      - description: Specify records per page.
        example: 10
        in: query
        name: records_per_page
        schema:
          type: integer
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountOwnersResponseBody'
          description: OK
      summary: List account owners by member
      tags:
      - Account_owners
components:
  schemas:
    AccountOwnerResponse:
      properties:
        account_guid:
          example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
          nullable: true
          type: string
        address:
          example: 123 This Way
          nullable: true
          type: string
        city:
          example: Middlesex
          nullable: true
          type: string
        country:
          example: US
          nullable: true
          type: string
        email:
          example: donnie@darko.co
          nullable: true
          type: string
        first_name:
          example: Donnie
          nullable: true
          type: string
        guid:
          example: ACO-63dc7714-6fc0-4aa2-a069-c06cdccd1af9
          nullable: true
          type: string
        last_name:
          example: Darko
          nullable: true
          type: string
        member_guid:
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          nullable: true
          type: string
        owner_name:
          example: Donnie Darko
          nullable: true
          type: string
        phone:
          example: 555-555-5555
          nullable: true
          type: string
        postal_code:
          example: 00000-0000
          nullable: true
          type: string
        state:
          example: VA
          nullable: true
          type: string
        user_guid:
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          nullable: true
          type: string
      type: object
    AccountOwnersResponseBody:
      properties:
        account_owners:
          items:
            $ref: '#/components/schemas/AccountOwnerResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    PaginationResponse:
      properties:
        current_page:
          example: 1
          type: integer
        per_page:
          example: 25
          type: integer
        total_entries:
          example: 1
          type: integer
        total_pages:
          example: 1
          type: integer
      type: object
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http
