openapi: 3.0.0
info:
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  description: '

    The MX Platform API is a powerful, fully-featured API designed to make

    aggregating and enhancing financial data easy and reliable. It can

    seamlessly connect your app or website to tens of thousands of financial

    institutions.'
  title: MX Platform Account_numbers API
  version: 0.1.0
servers:
- url: https://api.mx.com
- url: https://int-api.mx.com
security:
- basicAuth: []
tags:
- name: Account_numbers
paths:
  /users/{user_guid}/accounts/{account_guid}/account_numbers:
    get:
      description: This endpoint returns a list of account numbers associated with the specified `account`.
      operationId: listAccountNumbersByAccount
      parameters:
      - description: The unique id for an `account`.
        example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
        in: path
        name: account_guid
        required: true
        schema:
          type: string
      - description: Specify current page.
        example: 1
        in: query
        name: page
        schema:
          type: integer
      - description: Specify records per page.
        example: 10
        in: query
        name: records_per_page
        schema:
          type: integer
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountNumbersResponseBody'
          description: OK
      summary: List account numbers by account
      tags:
      - Account_numbers
  /users/{user_guid}/members/{member_guid}/account_numbers:
    get:
      description: This endpoint returns a list of account numbers associated with the specified `member`.
      operationId: listAccountNumbersByMember
      parameters:
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: Specify current page.
        example: 1
        in: query
        name: page
        schema:
          type: integer
      - description: Specify records per page.
        example: 10
        in: query
        name: records_per_page
        schema:
          type: integer
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountNumbersResponseBody'
          description: OK
      summary: List account numbers by member
      tags:
      - Account_numbers
components:
  schemas:
    AccountNumbersResponseBody:
      properties:
        account_numbers:
          items:
            $ref: '#/components/schemas/AccountNumberResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    AccountNumberResponse:
      properties:
        account_guid:
          example: ACT-06d7f45b-caae-0f6e-1384-01f52e75dcb1
          nullable: true
          type: string
        account_number:
          example: 10001
          nullable: true
          type: string
        guid:
          example: ACN-8899832e-e5b4-42cd-aa25-bbf1dc889a8f
          nullable: true
          type: string
        loan_guarantor:
          example: U.S. DEPARTMENT OF EDUCATION
          nullable: true
          type: string
        loan_reference_number:
          example: 123456789012345
          nullable: true
          type: string
        institution_number:
          example: 123
          nullable: true
          type: string
        member_guid:
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          nullable: true
          type: string
        passed_validation:
          example: true
          nullable: true
          type: boolean
        routing_number:
          example: 68899990000000
          nullable: true
          type: string
        sequence_number:
          example: 1-01
          nullable: true
          type: string
        transit_number:
          example: 12345
          nullable: true
          type: string
        user_guid:
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          nullable: true
          type: string
      type: object
    PaginationResponse:
      properties:
        current_page:
          example: 1
          type: integer
        per_page:
          example: 25
          type: integer
        total_entries:
          example: 1
          type: integer
        total_pages:
          example: 1
          type: integer
      type: object
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http
