openapi: 3.2.0
info:
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  description: 'The MX Platform API is a powerful, fully-featured API designed to make

    aggregating and enhancing financial data easy and reliable. It can

    seamlessly connect your app or website to tens of thousands of financial

    institutions.'
  title: MX Platform Institution Code API
  version: 0.1.0
servers:
- url: https://api.mx.com
- url: https://int-api.mx.com
security:
- basicAuth: []
tags:
- name: Institution_code
paths:
  /institutions/{institution_code}:
    get:
      description: This endpoint returns information about the institution specified by `institution_code`.
      operationId: readInstitution
      parameters:
      - description: The institution_code of the institution.
        example: chase
        in: path
        name: institution_code
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InstitutionResponseBody'
          description: OK
      summary: Read institution
      tags:
      - Institution_code
  /institutions/{institution_code}/credentials:
    get:
      description: Use this endpoint to see which credentials will be needed to create a member for a specific institution.
      operationId: listInstitutionCredentials
      parameters:
      - description: The institution_code of the institution.
        example: chase
        in: path
        name: institution_code
        required: true
        schema:
          type: string
      - description: Specify current page.
        example: 1
        in: query
        name: page
        schema:
          type: integer
      - description: Specify records per page.
        example: 10
        in: query
        name: records_per_page
        schema:
          type: integer
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CredentialsResponseBody'
          description: OK
      summary: List institution credentials
      tags:
      - Institution_code
components:
  schemas:
    CredentialResponse:
      properties:
        display_order:
          example: 1
          type:
          - integer
          - 'null'
        field_name:
          example: LOGIN
          type:
          - string
          - 'null'
        field_type:
          example: TEXT
          type:
          - string
          - 'null'
        guid:
          example: CRD-1ec152cd-e628-e81a-e852-d1e7104624da
          type:
          - string
          - 'null'
        label:
          example: Username
          type:
          - string
          - 'null'
        type:
          example: TEXT
          type:
          - string
          - 'null'
      type: object
    CredentialsResponseBody:
      properties:
        credentials:
          items:
            $ref: '#/components/schemas/CredentialResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    InstitutionResponse:
      properties:
        code:
          example: chase
          type:
          - string
          - 'null'
        forgot_password_url:
          example: https://example.url.chase.com/forgot-password
          type:
          - string
          - 'null'
        forgot_username_url:
          example: https://example.url.chase.com/forgot-username
          type:
          - string
          - 'null'
        instructional_text:
          example: Some instructional text <a href="https://example.url.chase.com/instructions" id="instructional_text">for end users</a>.
          type:
          - string
          - 'null'
        medium_logo_url:
          example: https://content.moneydesktop.com/storage/MD_Assets/Ipad%20Logos/100x100/default_100x100.png
          type:
          - string
          - 'null'
        name:
          example: Chase Bank
          type:
          - string
          - 'null'
        small_logo_url:
          example: https://content.moneydesktop.com/storage/MD_Assets/Ipad%20Logos/50x50/default_50x50.png
          type:
          - string
          - 'null'
        supports_account_identification:
          example: true
          type:
          - boolean
          - 'null'
        supports_account_statement:
          example: true
          type:
          - boolean
          - 'null'
        supports_account_verification:
          example: true
          type:
          - boolean
          - 'null'
        supports_oauth:
          example: true
          type:
          - boolean
          - 'null'
        supports_tax_document:
          example: true
          type:
          - boolean
          - 'null'
        supports_transaction_history:
          example: true
          type:
          - boolean
          - 'null'
        trouble_signing_in_url:
          example: https://example.url.chase.com/login-trouble
          type:
          - string
          - 'null'
        url:
          example: https://www.chase.com
          type:
          - string
          - 'null'
      type: object
    PaginationResponse:
      properties:
        current_page:
          example: 1
          type: integer
        per_page:
          example: 25
          type: integer
        total_entries:
          example: 1
          type: integer
        total_pages:
          example: 1
          type: integer
      type: object
    InstitutionResponseBody:
      properties:
        institution:
          $ref: '#/components/schemas/InstitutionResponse'
      type: object
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http
