openapi: 3.0.0
info:
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  description: '

    The MX Platform API is a powerful, fully-featured API designed to make

    aggregating and enhancing financial data easy and reliable. It can

    seamlessly connect your app or website to tens of thousands of financial

    institutions.'
  title: MX Platform Widget_urls API
  version: 0.1.0
servers:
- url: https://api.mx.com
- url: https://int-api.mx.com
security:
- basicAuth: []
tags:
- name: Widget_urls
paths:
  /users/{user_guid}/widget_urls:
    post:
      description: This endpoint allows partners to get a URL by passing the `widget_type` in the request body, as well as configuring it in several different ways. In the case of Connect, that means setting the `widget_type` to `connect_widget`. Partners may also pass an optional `Accept-Language` header as well as a number of configuration options. Note that this is a `POST` request.
      operationId: requestWidgetURL
      parameters:
      - description: The desired language of the widget.
        example: en-US
        in: header
        name: Accept-Language
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WidgetRequestBody'
        description: The widget url configuration options.
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/WidgetResponseBody'
          description: OK
      summary: Request widget url
      tags:
      - Widget_urls
components:
  schemas:
    WidgetRequest:
      properties:
        client_redirect_url:
          example: https://mx.com
          type: string
        color_scheme:
          example: light
          type: string
        current_institution_code:
          example: chase
          type: string
        current_institution_guid:
          example: INS-f1a3285d-e855-b61f-6aa7-8ae575c0e0e9
          type: string
        current_member_guid:
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          type: string
        disable_background_agg:
          example: false
          type: boolean
        disable_institution_search:
          example: false
          type: boolean
        include_identity:
          example: false
          type: boolean
        include_transactions:
          example: true
          type: boolean
        insight_guid:
          example: BET-123
          type: string
        is_mobile_webview:
          example: false
          type: boolean
        microwidget_instance_id:
          example: accounts_page
          type: string
        mode:
          example: aggregation
          type: string
        oauth_referral_source:
          example: BROWSER
          type: string
        ui_message_version:
          example: 4
          type: integer
        ui_message_webview_url_scheme:
          example: mx
          type: string
        update_credentials:
          example: false
          type: boolean
        widget_type:
          example: connect_widget
          type: string
      required:
      - widget_type
      type: object
    WidgetResponse:
      properties:
        type:
          example: connect_widget
          nullable: true
          type: string
        url:
          example: https://int-widgets.moneydesktop.com/md/connect/yxcdk7f1nb99jwApp34lA24m0AZ8rzprgmw17gm8z8h2AzjyAnd1rj42qfv42r3xnn07Amfwlg3j09hwp8bkq8tc5z21j33xjggmp2qtlpkz2v4gywfhfn31l44tx2w91bfc2thc58j4syqp0hgxcyvA4g7754hk7gjc56kt7tc36s45mmkdz2jqqqydspytmtr3dAb9jh6fkb24f3zkfpdjj0v77f0vmrtzvzxkmxz7dklsq8gd0gstkbhlw5bgpgc3m9mAtpAcr2w15gwy5xc4blgxppl42Avnm63291z3cyp0wm3lqgmvgzdAddct423gAdqxdlfx5d4mvc0ck2gt7ktqgks4vxq1pAy5
          nullable: true
          type: string
        user_id:
          example: U-jeff-201709221210
          nullable: true
          type: string
      type: object
    WidgetResponseBody:
      properties:
        widget_url:
          $ref: '#/components/schemas/WidgetResponse'
      type: object
    WidgetRequestBody:
      properties:
        widget_url:
          $ref: '#/components/schemas/WidgetRequest'
      type: object
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http
