openapi: 3.0.0
info:
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  description: '

    The MX Platform API is a powerful, fully-featured API designed to make

    aggregating and enhancing financial data easy and reliable. It can

    seamlessly connect your app or website to tens of thousands of financial

    institutions.'
  title: MX Platform Status API
  version: 0.1.0
servers:
- url: https://api.mx.com
- url: https://int-api.mx.com
security:
- basicAuth: []
tags:
- name: Status
paths:
  /users/{user_guid}/members/{member_guid}/status:
    get:
      description: This endpoint provides the status of the members most recent aggregation event. This is an important step in the aggregation process, and the results returned by this endpoint should determine what you do next in order to successfully aggregate a member. MX has introduced new, more detailed information on the current status of a members connection to a financial institution and the state of its aggregation - the connection_status field. These are intended to replace and expand upon the information provided in the status field, which will soon be deprecated; support for the status field remains for the time being.
      operationId: readMemberStatus
      parameters:
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberStatusResponseBody'
          description: OK
      summary: Read member status
      tags:
      - Status
components:
  schemas:
    MemberStatusResponseBody:
      properties:
        member:
          $ref: '#/components/schemas/MemberStatusResponse'
      type: object
    OptionResponse:
      properties:
        label:
          example: IMAGE_1
          nullable: true
          type: string
        value:
          example: image_data
          nullable: true
          type: string
      type: object
    ChallengeResponse:
      properties:
        field_name:
          example: Who is this guy?
          nullable: true
          type: string
        guid:
          example: CRD-ce76d2e3-86bd-ec4a-ec52-eb53b5194bf5
          nullable: true
          type: string
        image_data:
          example: Who is this guy?
          nullable: true
          type: string
        image_options:
          items:
            $ref: '#/components/schemas/ImageOptionResponse'
          type: array
        label:
          example: Who is this guy?
          nullable: true
          type: string
        options:
          items:
            $ref: '#/components/schemas/OptionResponse'
          type: array
        type:
          example: IMAGE_DATA
          nullable: true
          type: string
      type: object
    ImageOptionResponse:
      properties:
        data_uri:
          example: data:image/png;base64,iVBORw0KGgoAAAANSUh ... more image data ...
          nullable: true
          type: string
        label:
          example: IMAGE_1
          nullable: true
          type: string
        value:
          example: image_data
          nullable: true
          type: string
      type: object
    MemberStatusResponse:
      properties:
        aggregated_at:
          example: '2016-10-13T18:07:57.000Z'
          nullable: true
          type: string
        challenges:
          items:
            $ref: '#/components/schemas/ChallengeResponse'
          type: array
        connection_status:
          example: CONNECTED
          nullable: true
          type: string
        guid:
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          nullable: true
          type: string
        has_processed_accounts:
          example: true
          nullable: true
          type: boolean
        has_processed_account_numbers:
          example: true
          nullable: true
          type: boolean
        has_processed_transactions:
          example: false
          nullable: true
          type: boolean
        is_authenticated:
          example: false
          nullable: true
          type: boolean
        is_being_aggregated:
          example: false
          nullable: true
          type: boolean
        successfully_aggregated_at:
          example: '2016-10-13T17:57:38.000Z'
          nullable: true
          type: string
      type: object
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http
