openapi: 3.0.0
info:
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  description: '

    The MX Platform API is a powerful, fully-featured API designed to make

    aggregating and enhancing financial data easy and reliable. It can

    seamlessly connect your app or website to tens of thousands of financial

    institutions.'
  title: MX Platform Microdeposits API
  version: 0.1.0
servers:
- url: https://api.mx.com
- url: https://int-api.mx.com
security:
- basicAuth: []
tags:
- name: Microdeposits
paths:
  /users/{user_guid}/micro_deposits/{micro_deposit_guid}:
    delete:
      tags:
      - Microdeposits
      summary: Delete a microdeposit
      description: Use this endpoint to delete the specified microdeposit.
      parameters:
      - name: micro_deposit_guid
        description: The unique identifier for the microdeposit. Defined by MX.
        in: path
        required: true
        example: MIC-09ba578e-8448-4f7f-89e1-b62ff2517edb
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
    get:
      tags:
      - Microdeposits
      summary: Read a microdeposit for a user
      description: Use this endpoint to read the attributes of a specific microdeposit according to its unique GUID. <br></br> Webhooks for microdeposit status changes are triggered when a status changes. The actual status of the microdeposit guid updates every minute. You may force a status update by calling the read microdeposit endpoint.
      parameters:
      - name: user_guid
        description: The unique identifier for the user. Defined by MX.
        in: path
        required: true
        schema:
          type: string
      - name: micro_deposit_guid
        description: The unique identifier for the microdeposit. Defined by MX.
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicrodepositResponseBody'
components:
  schemas:
    MicrodepositResponse:
      properties:
        account_name:
          type: string
          example: My test account
        account_number:
          type: string
          example: 3331261
        account_type:
          type: string
          example: CHECKING
        email:
          type: string
          example: joshyboy2@example.com
        first_name:
          type: string
          example: Joshy
        last_name:
          type: string
          example: Grobanne
        routing_number:
          type: string
          example: 91000019
        error_message:
          type: string
          example: null
        guid:
          type: string
          example: MIC-09ba578e-8448-4f7f-89e1-b62ff2517edb
        institution_code:
          example: mxbank
          type: string
        institution_name:
          example: MX Bank
          type: string
        status:
          example: INITIATED
          type: string
        updated_at:
          example: '2023-06-01T19:18:06.000Z'
          type: string
        verified_at:
          example: null
          type: string
    MicrodepositResponseBody:
      properties:
        micro_deposit:
          $ref: '#/components/schemas/MicrodepositResponse'
      type: object
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http
