openapi: 3.0.0
info:
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  description: '

    The MX Platform API is a powerful, fully-featured API designed to make

    aggregating and enhancing financial data easy and reliable. It can

    seamlessly connect your app or website to tens of thousands of financial

    institutions.'
  title: MX Platform Oauth_window_uri API
  version: 0.1.0
servers:
- url: https://api.mx.com
- url: https://int-api.mx.com
security:
- basicAuth: []
tags:
- name: Oauth_window_uri
paths:
  /users/{user_guid}/members/{member_guid}/oauth_window_uri:
    get:
      description: This endpoint will generate an `oauth_window_uri` for the specified `member`.
      operationId: requestOAuthWindowURI
      parameters:
      - description: A URL that MX will redirect to at the end of OAuth with additional query parameters. Only available with `referral_source=APP`.
        example: https://mx.com
        in: query
        name: client_redirect_url
        schema:
          type: string
      - description: This indicates whether OAuth app2app behavior is enabled for institutions that support it. Defaults to `true`. This setting is not persistent.
        example: false
        in: query
        name: enable_app2app
        schema:
          type: string
      - description: The unique id for a `member`.
        example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
        in: path
        name: member_guid
        required: true
        schema:
          type: string
      - description: Must be either `BROWSER` or `APP` depending on the implementation. Defaults to `BROWSER`.
        example: APP
        in: query
        name: referral_source
        schema:
          type: string
      - description: Setting this parameter to `true` will prevent the member from automatically aggregating after being redirected from the authorization page.
        example: false
        in: query
        name: skip_aggregation
        schema:
          type: boolean
      - description: A scheme for routing the user back to the application state they were previously in. Only available with `referral_source=APP`.
        example: mx
        in: query
        name: ui_message_webview_url_scheme
        schema:
          type: string
      - description: The unique id for a `user`.
        example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
        in: path
        name: user_guid
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/OAuthWindowResponseBody'
          description: OK
      summary: Request oauth window uri
      tags:
      - Oauth_window_uri
components:
  schemas:
    OAuthWindowResponse:
      properties:
        guid:
          example: MBR-df96fd60-7122-4464-b3c2-ff11d8c74f6f
          nullable: true
          type: string
        oauth_window_uri:
          example: https://mxbank.mx.com/oauth/authorize?client_id=b8OikQ4Ep3NuSUrQ13DdvFuwpNx-qqoAsJDVAQCyLkQ&redirect_uri=https%3A%2F%2Fint-app.moneydesktop.com%2Foauth%2Fredirect_from&response_type=code&scope=openid&state=d745bd4ee6f0f9c184757f574bcc2df2
          nullable: true
          type: string
      type: object
    OAuthWindowResponseBody:
      properties:
        member:
          $ref: '#/components/schemas/OAuthWindowResponse'
      type: object
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http
